<div class="row">
	<div class="col-2">
			<div class="list-group">
			  <a [routerLink]="['./hotel']" [routerLinkActive]="['active']" class="">
					Общие сведения
			  </a>
			  <a [routerLink]="['./contacts']" [routerLinkActive]="['active']" class="">
			  	Контактные лица
			   </a>
			   <a [routerLink]="['./landmarks']" [routerLinkActive]="['active']" class="">
			  	Ориентиры рядом с объектом
			   </a>
			   	<a [routerLink]="['./policies']" [routerLinkActive]="['active']" class="">
			  	Правила проживания в отеле
			   </a>
			   <a [routerLink]="['./taxes']" [routerLinkActive]="['active']" class="">
			  	Налоги и сборы
			   </a>
			   <a [routerLink]="['./payment']" [routerLinkActive]="['active']" class="">
			  	Условия оплаты проживания (кредитки)
			   </a>
			</div>
	</div>

	<div class="col-10">
		<router-outlet></router-outlet>
	</div>

</div>
