<div class="row">
	<div class="col-2">
			<div class="list-group">
			  <a [routerLink]="['./base']" [routerLinkActive]="['active']" class="">
					Базовое предложение
			  </a>
			   <a [routerLink]="['./min-stay']" [routerLinkActive]="['active']" href="" class="">
			  	Минимальный срок проживания
			   </a>
			   <a [routerLink]="['./last-minute']" [routerLinkActive]="['active']" href="" class="">
			  	Горящие предложения
			   </a>
			</div>
	</div>

	<div class="col-10">
		<router-outlet></router-outlet>
	</div>

</div>
