a, .submenu, .submenu-item {
  color: #337ab7;
  padding: 6px 8px;
  border-radius: 4px;
  margin-bottom: 2px;
  cursor: pointer;
}
a:hover, a:focus, .submenu-item:hover, .submenu-item:focus {
  text-decoration: none;
  background: #E5E5E5;
  color: #004A7f;
}
a.active, .submenu-item.active {
  background: #337ab7;
  color: white;
}
.submenu {
  color: #222;
  line-height: 1;
  margin-top: 15px;
}
.submenu-item {
  color: #555 !important;
  margin-left: 20px;
}
.submenu-item:hover, .submenu-item:focus {
  color: #222 !important;
}
