<div class="row">
	<div class="col-2">
			<div class="list-group">
			  <a [routerLink]="['./review']" [routerLinkActive]="['active']" class="">
					Обзор
			  </a>
			   	<a [routerLink]="['./create']" [routerLinkActive]="['active']" class="">
			  	Создать тариф
			   </a>
        <!--<ng-container *ngIf="loaded && tariffs; else loading">-->
          <!--<span class="submenu">-->
            <!--Редактировать тарифы и кол-во номеров-->
          <!--</span>-->
          <!--<a *ngFor="let tariff of tariffs" class="submenu-item">-->
            <!--{{tariff.title}}-->
          <!--</a>-->
        <!--</ng-container>-->
        <!--<ng-template #loading>-->
          <!--<app-loading *ngIf="!loaded"></app-loading>-->
        <!--</ng-template>-->
			</div>
	</div>

	<div class="col-10">
		<router-outlet></router-outlet>
	</div>

</div>
