<div class="row">
	<div class="col-2">
			<div class="list-group">
			  <a [routerLink]="['./rooms']" [routerLinkActive]="['active']" class="">
					Комнаты
			  </a>
			  <a [routerLink]="['./room/add']" [routerLinkActive]="['active']" class="">
			  	Добавить комнату
			   </a>
			   <a [routerLink]="['./description']" [routerLinkActive]="['active']" class="">
			  	Общее описание свойств
			   </a>
			  <a [routerLink]="['./photo']" [routerLinkActive]="['active']" class="">
			  	Фотографии
			   </a>
			  <a [routerLink]="['./facility']" [routerLinkActive]="['active']" class="">
			  	Удобства в отеле
			   </a>
			</div>
	</div>

	<div class="col-9">
		<router-outlet>
		</router-outlet>
	</div>

</div>
