<h3>Ориентиры рядом с объектом</h3>
<hr>
<div>
  <div class="form-group">
    <h5 class="facility-title">Шопинг и рестораны</h5>
    <hr class="facility-hr">
    <div class="row mb-2 ml-0">
      <select class="form-control d-inline-block mr-2 col-6 col-sm-3 col-md-2" [(ngModel)]="shop">
        <option *ngFor="let sh of shopsMarksTypes; index as i" [value]="sh.title">{{shopsMarksTranslate[i]}}</option>
      </select>
      <button class="btn btn-success" (click)="addShopMark()">Добавить</button>
    </div>
    <ng-container *ngIf="shopsMarks; else loading1">
      <div class="form-group landmark row mb-1" *ngFor="let shops of shopsMarks; index as i">
        <label class="label-text col-3">{{getTranslate(shops.type, 's')}}</label>
        <div class="col-6 d-flex">
          <input type="number" [(ngModel)]="shopsMarks[i].distance" class="form-control mr-1" placeholder="Дистанция">
          <select class="form-control w-25 mr-1" [(ngModel)]="shopsMarks[i].unit">
            <option value="m">м</option>
            <option value="km">км</option>
          </select>
          <input type="text" class="form-control" placeholder="Название" [(ngModel)]="shopsMarks[i].title">
        </div>
        <div class="col-3 pl-0">
          <button (click)="removeShop(i)" class="close">&times;</button>
        </div>
      </div>
    </ng-container>
    <ng-template #loading1>
      <app-loading *ngIf="!loaded"></app-loading>
      <app-loading-error *ngIf="!shopsMarks && loaded"></app-loading-error>
    </ng-template>
  </div>
  <div class="button-submit mt-3 mb-3">
    <button (click)="onSubmitShops()" type="submit" class="btn btn-warning">Сохранить</button>
  </div>
</div>
<div>
  <div class="form-group">
    <h5 class="facility-title">Достопримечательности</h5>
    <hr class="facility-hr">
    <div class="row mb-2 ml-0">
      <select class="form-control d-inline-block mr-2 col-6 col-sm-3 col-md-2" [(ngModel)]="land">
        <option *ngFor="let ln of landMarksTypes; index as i" [value]="ln.title">{{landMarksTranslate[i]}}</option>
      </select>
      <button class="btn btn-success" (click)="addLandMark()">Добавить</button>
    </div>
    <ng-container *ngIf="landMarks; else loading2">
      <div class="form-group row landmark mb-1" *ngFor="let lands of landMarks; index as i">
        <label class="label-text col-3">{{getTranslate(lands.type, 'l')}}</label>
        <div class="col-6 d-flex">
          <input type="number" [(ngModel)]="landMarks[i].distance" class="form-control mr-1" placeholder="Дистанция">
          <select class="form-control w-25 mr-1" [(ngModel)]="landMarks[i].unit">
            <option value="m">м</option>
            <option value="km">км</option>
          </select>
          <input type="text" class="form-control" placeholder="Название" [(ngModel)]="landMarks[i].title">
        </div>
        <div class="col-3 pl-0">
          <button (click)="removeLand(i)" class="close">&times;</button>
        </div>
      </div>
    </ng-container>
    <ng-template #loading2>
      <app-loading *ngIf="!loaded"></app-loading>
      <app-loading-error *ngIf="!landMarks && loaded"></app-loading-error>
    </ng-template>
  </div>
  <div class="button-submit mt-3 mb-3">
    <button (click)="onSubmitMarks()" type="submit" class="btn btn-warning">Сохранить</button>
  </div>
</div>
<app-notification [option]="notificate"></app-notification>
