<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true"
     (onHide)="handler()"
     (onHidden)="handler()">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="!adminView; else adminview">
      <form (ngSubmit)="submitLoginForm()">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control"  autoComplete="off" placeholder="Login" [(ngModel)]="loginForm.login" name="author">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-user"></span></span>
            <input class="form-control" placeholder="Password"  autoComplete="off" [(ngModel)]="loginForm.password" name="author" type="password">
          </div>
          <br>
          <div *ngIf="errorMessage" class="alert alert-danger">Не правильные логин или пароль</div>
          <button  type="submit" class="btn btn-warning btn-block">Login</button>
        </div>
      </form>
      <div (click)="adminView = true" class="text-info text-center">Зайти как админ?</div>
    </ng-container>
    <ng-template #adminview>
      <form (ngSubmit)="submitAdminForm()">
        <div class="form-group">
            <label>Вставте токен</label>
            <input type="text" class="form-control"  autoComplete="off" placeholder="Token" [(ngModel)]="adminToken" name="author">
          <br>
          <button  type="submit" class="btn btn-warning btn-block">Login</button>
        </div>
      </form>
      <div (click)="adminView = false" class="text-info text-center">Зайти как отель?</div>
    </ng-template>
  </div>
    </div>
  </div>
</div>
