<h3>Удобства отеля</h3>
<hr>
<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <h5 class="facility-title">Интернет</h5>
        <hr class="facility-hr">

        <div class=" col-12 form-group row">
          <label class="label-text col-5" for="access">Доступ к Интернету</label>
          <select class="form-control col-7" id="access" name="access" (ngModelChange)="checkInternet($event)" [(ngModel)]="hf.internet.access">
            <option value="FREE">Да, бесплатно</option>
            <option value="PAID">Да, платно</option>
            <option value="NO">Нет</option>
          </select>
        </div>
        <ng-container *ngIf="hf.internet.access !== 'NO'">
          <div class=" col-12 form-group row">
            <label class="label-text col-5" for="type">Тип Интернет подключения</label>
            <select class="form-control col-7" id="type" name="type" [(ngModel)]="hf.internet.type">
              <option value="WI-FI">Wi-Fi</option>
              <option value="CABLE">Кабель</option>
            </select>
          </div>

          <div class=" col-12 form-group row">
            <label class="label-text col-5" for="accessPoint">Места доступного Интернета</label>
            <select class="form-control col-7" id="accessPoint" name="accessPoint" [(ngModel)]="hf.internet.accessPoint">
              <option value="ALL_ROOMS">Все комнаты</option>
              <option value="SOME_ROOMS">Некоторые комнаты</option>
              <option value="PUBLIC_AREAS">Общественные места</option>
              <option value="EVERYWHERE">Везде</option>
            </select>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <h5 class="facility-title">Парковка</h5>
        <hr class="facility-hr">

        <div class=" col-12 form-group row">
          <label class="label-text col-5" for="roomCategory">Парковка</label>
          <select class="form-control col-7" id="roomCategory" name="roomCategory" (ngModelChange)="checkParking($event)" [(ngModel)]="hf.parking.type">
            <option value="FREE">Да, бесплатно</option>
            <option value="PAID">Да, платно</option>
            <option value="NO">Нет</option>
          </select>
        </div>

        <div class=" col-12 form-group row" *ngIf="hf.parking.type == 'PAID'">
          <label class="label-text col-5" for="parkingPrice">Цена парковки</label>
          <div class="input-group col-7 p-0">
            <input [(ngModel)]="hf.parking.price" id="parkingPrice" name="parkingPrice" type="number" class="form-control" placeholder="UAH" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">цена за день</span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <h5 class="facility-title">Стойка регистрации</h5>
        <hr class="facility-hr">
        <div class=" col-12 form-group row">
          <label class="label-text col-5" for="isRoundClock">Круглосуточно</label>
          <select class="form-control col-7" (ngModelChange)="checkReception($event)" [(ngModel)]="hf.reception.isRoundClock" id="isRoundClock" name="isRoundClock">
            <option [ngValue]="true">Да</option>
            <option [ngValue]="false">Нет</option>
          </select>
        </div>

        <div class=" col-12 form-group row" *ngIf="!hf.reception.isRoundClock">
          <label class="label-text col-3">Начало</label>
          <div class="mb-3 p-0">
            <timepicker [meridians]="false" class="" name="timestart" [(ngModel)]="timeStartReception" [showMeridian]="false"></timepicker>
          </div>

          <label class="label-text col-2">Конец</label>
          <div class="col-2 p-0">
            <timepicker [meridians]="false" class="" name="timeend" [(ngModel)]="timeEndReception" [showMeridian]="false"></timepicker>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="facilities; else loading">
  <!--<div class="form-group">-->
    <!--<h5 class="facility-title">Ресепшн</h5>-->
    <!--<hr class="facility-hr">-->
    <!--<div class="row">-->
      <!--<ng-container *ngFor="let f of facilities" >-->
        <!--<div class="col-4 form-check" *ngIf="f.type == 'RECEPTION'">-->
          <!--<label class="form-check-label">-->
            <!--<input class="form-check-input" type="checkbox" value=""-->
                   <!--name="facilities[]"-->
                   <!--(change)="onFacilityChange($event, f.id)"-->
                   <!--[checked]="initCheckbox(f.id)"-->
            <!--&gt;-->
            <!--<span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>-->
          <!--</label>-->
        <!--</div>-->
      <!--</ng-container>-->
    <!--</div>-->
  <!--</div>-->
  <div class="form-group">
	<h5 class="facility-title">Спорт</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'SPORT'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  <div class="form-group">
	<h5 class="facility-title">Питание</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'NUTRITION'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  <div class="form-group">
	<h5 class="facility-title">Здоровье</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'HEALTH_SERVICE'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			   	[checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  <!--<div class="form-group">-->
	<!--<h5 class="facility-title">Транспорт</h5>-->
  <!--<hr class="facility-hr">-->
	<!--<div class="row">-->
		<!--<ng-container *ngFor="let f of facilities" >-->
			<!--<div class="col-4 form-check" *ngIf="f.type == 'TRANSPORT'">-->
			  <!--<label class="form-check-label">-->
			    <!--<input class="form-check-input" type="checkbox" value=""-->
			    <!--name="facilities[]"-->
			    <!--(change)="onFacilityChange($event, f.id)"-->
			    <!--[checked]="initCheckbox(f.id)"-->
		    	<!--&gt;-->
          <!--<span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>-->
			  <!--</label>-->
			<!--</div>-->
		<!--</ng-container>-->
	<!--</div>-->
<!--</div>-->
  <div class="form-group">
    <h5 class="facility-title">Общественные места</h5>
    <hr class="facility-hr">
    <div class="row">
      <ng-container *ngFor="let f of facilities" >
        <div class="col-4 form-check" *ngIf="f.type == 'PUBLIC_PLACE'">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value=""
                   name="facilities[]"
                   (change)="onFacilityChange($event, f.id)"
                   [checked]="initCheckbox(f.id)"
            >
            <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
          </label>
        </div>
      </ng-container>
    </div>
  </div>
    <div class="form-group">
      <h5 class="facility-title">Языки на которых говорит персонал</h5>
      <hr class="facility-hr">
      <div class="row">
        <ng-container *ngFor="let f of facilities" >
          <div class="col-4 form-check" *ngIf="f.type == 'LANGUAGE'">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""
                     name="facilities[]"
                     (change)="onFacilityChange($event, f.id)"
                     [checked]="initCheckbox(f.id)"
              >
              <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
            </label>
          </div>
        </ng-container>
      </div>
    </div>
  <div class="form-group">
	<h5 class="facility-title">Развлечения</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'ENTERTAINMENT'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
    <div class="form-group">
      <h5 class="facility-title">Доступность номеров</h5>
      <hr class="facility-hr">
      <div class="row">
        <ng-container *ngFor="let f of facilities" >
          <div class="col-4 form-check" *ngIf="f.type == 'ACCESSIBILITY'">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value=""
                     name="facilities[]"
                     (change)="onFacilityChange($event, f.id)"
                     [checked]="initCheckbox(f.id)"
              >
              <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
            </label>
          </div>
        </ng-container>
      </div>
    </div>
  <div class="form-group">
	<h5 class="facility-title">Очистительные</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'CLEANING_SERVICE'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  <div class="form-group">
	<h5 class="facility-title">Бизнесс</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'BUSINESS'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  <div class="form-group">
	<h5 class="facility-title">Магазины</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'SHOP'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  <div class="form-group">
	<h5 class="facility-title">Другое</h5>
  <hr class="facility-hr">
	<div class="row">
		<ng-container *ngFor="let f of facilities" >
			<div class="col-4 form-check" *ngIf="f.type == 'OTHER'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, f.id)"
			    [checked]="initCheckbox(f.id)"
		    	>
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(f.id)}">{{f.title}}</span>
			  </label>
			</div>
		</ng-container>
	</div>
</div>
  </ng-container>
  <ng-template #loading>
      <app-loading></app-loading>
  </ng-template>
	<div class="fixed-bottom-right-block">
		<button  type="submit" class="btn btn-warning">Сохранить</button>
	</div>

</form>
<app-notification [option]="notificate"></app-notification>
