.form-check-input {
  display: none;
}
.facility-mark {
  padding: 4px 7px 5px;
  border-radius: 5px;
  border: 1px solid #96b6d2;
  display: inline-block;
}
.facility-mark:hover {
  background-color: #ddd;
}
.facility-mark.checked {
  color: white;
  background-color: #004A7F;
  border-color: #004A7F;
}
.facility-mark.checked:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}
.form-group.col-12 {
  margin-bottom: 5px;
}
