 <div class="modal-body" *ngIf="tariff">
   <h5 class="modal-title mb-2">Изменить массив данных</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <alert *ngIf="!isSuccess && isSuccess !== undefined" type="danger">
      <strong >Oop!</strong> something went wrong.
    </alert>

    <alert *ngIf="isSuccess" type="success">
      <strong >Well done!</strong>
    </alert>


    <form>
      <div>
        <label class="form-text">Выберите даты</label>
        <div class="input-group">
          <input
            id="begin"
            class="form-control"
            name="from"
            (bsValueChange) = dateChanged($event)
            [bsConfig]="bsConfig"
            [minDate] = "minDateF"
            [(ngModel)]="period[0]"
            #dp="bsDatepicker"
            bsDatepicker>
          <input
            id="end"
            class="form-control"
            name="to"
            [bsConfig]="bsConfig"
            [minDate] = "minDate"
            [(ngModel)]="period[1]"
            #dp="bsDatepicker"
            bsDatepicker>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-success" (click)="submitForm()">Открыть продажу</button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger" (click)="submitForm_1()">Закрыть продажу</button>
          </div>
        </div>
      </div>
    </form>
  </div>

