.input-group {
  margin-bottom: 15px;
}
.close {
  position: absolute;
  top: 12px;
  right: 10px;
}
.modal-body {
  padding-top: 5px;
}
.form-text {
  margin-bottom: 0;
}
.btn {
  line-height: 1;
  white-space: normal;
}
