<table *ngIf="data.length > 0" #table class="table table-responsive" (window:scroll)="tableScroll()">
  <thead class="second-head" [style.top.px]="secondHeaderOffset" [ngClass]="{'d-none': !displaySecondHead}">
  <tr class="table-header">
    <td class="center-text">Month</td>
    <td *ngFor="let h of header"  [attr.colspan] = "h.count">
      {{h.month.format("MMMM YYYY")}}
    </td>
  </tr>
  <tr class="table-header table-header-bordered">
    <td class="center-text" [style.min-width.px]="daysWidth[32]">Day</td>
    <td *ngFor="let day of days; let ds = index" class="center-text" [style.min-width.px]="daysWidth[ds]">{{day.date()}}</td>
  </tr>
  </thead>


  <thead>
  <tr class="table-header">
    <td class="center-text">Month</td>
    <td *ngFor="let h of header"  [attr.colspan] = "h.count">
      {{h.month.format("MMMM YYYY")}}
    </td>
  </tr>
  <tr #daystable class="table-header table-header-bordered">
    <td class="center-text" >Day</td>
    <td class="center-text" *ngFor="let day of days; let df = index" >{{day.date()}}</td>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor = "let room of data; let r = index">

    <tr class="room">
    	<td class="room-title">
        <span>{{room.title}}</span>
        <button class="button-mass button-mass-room btn-success" (click)="changeCountForPeriod(room)"><i class="fa fa-pencil"></i></button>
      </td>
  		<td class="center-text data-call"
  			*ngFor="let day of room.dailyData" >
  			<input class="input-field" [(ngModel)]="day.count" (keypress)="checkCharCount($event, day)" (blur)="modifyCount(day)">
  		</td>
    </tr>
    <ng-container *ngFor = "let tariff of room.tariffs; let t = index">
      <ng-container *ngIf="!unshowTariff(tariff.ra)">
        <tr>
          <td class="tariff-title">
            <span>{{tariff.title}}</span>
            <div class="tariff-buttons">
              <button class="button-mass btn-danger" (click)="cancelconfirm.show(); removeTariff(tariff.id, t, r)"><i class="fa fa-times"></i></button>
              <button class="button-mass btn-warning longer-tariff" (click)="increaseWorkDays(tariff)"><i class="fa fa-arrow-right"></i></button>
              <button class="button-mass btn-success" (click)="changeAvailableForPeriod(tariff)"><i class="fa fa-pencil"></i></button>
            </div>
          </td>

          <td *ngFor="let day of tariff.ra; let i = index"
              class="data-call"
              (click)="closeForSales($event,i,day)"
              [ngClass]="getClass(day, i, room.dailyData[i].count)"
          >
          </td>
        </tr>
        <tr *ngFor="let guest of room.guest; index as k">
          <td class="price-title">
            <span>цена за {{k + 1}} чел.</span>
            <button (click)="changePriceForPeriod($event, tariff, k + 1)" class="button-mass btn-success"><i class="fa fa-pencil"></i></button>
          </td>
          <td *ngFor="let day of tariff.ra; index as idk" class="text-center">
            <ng-container *ngIf="!day.isNew" [ngSwitch]="k">
              <input *ngSwitchCase="0" class="input-field text-center" (keyup)="setDayWidth(idk)" (keypress)="checkChar($event, day)" (blur)="savePrice(day)" [ngStyle]="{'width': ((getLenghtforStyle(day.singleOccupancyPrice) + 1) * 7) + 'px'}" onkeydown="this.style.width = ((this.value.length + 1) * 7) + 'px';" [(ngModel)]="day.singleOccupancyPrice">
              <input *ngSwitchCase="1" class="input-field text-center" (keyup)="setDayWidth(idk)" (keypress)="checkChar($event, day)" (blur)="savePrice(day)" [ngStyle]="{'width': ((getLenghtforStyle(day.doubleOccupancyPrice) + 1) * 7) + 'px'}" onkeydown="this.style.width = ((this.value.length + 1) * 7) + 'px';" [(ngModel)]="day.doubleOccupancyPrice">
              <input *ngSwitchCase="2" class="input-field text-center" (keyup)="setDayWidth(idk)" (keypress)="checkChar($event, day)" (blur)="savePrice(day)" [ngStyle]="{'width': ((getLenghtforStyle(day.tripleOccupancyPricePercent) + 1) * 7) + 'px'}" onkeydown="this.style.width = ((this.value.length + 1) * 7) + 'px';" [(ngModel)]="day.tripleOccupancyPricePercent">
              <input *ngSwitchCase="3" class="input-field text-center" (keyup)="setDayWidth(idk)" (keypress)="checkChar($event, day)" (blur)="savePrice(day)" [ngStyle]="{'width': ((getLenghtforStyle(day.fourOccupancyPricePercent) + 1) * 7) + 'px'}" onkeydown="this.style.width = ((this.value.length + 1) * 7) + 'px';" [(ngModel)]="day.fourOccupancyPricePercent">
              <input *ngSwitchCase="4" class="input-field text-center" (keyup)="setDayWidth(idk)" (keypress)="checkChar($event, day)" (blur)="savePrice(day)" [ngStyle]="{'width': ((getLenghtforStyle(day.fiveOccupancyPricePercent) + 1) * 7) + 'px'}" onkeydown="this.style.width = ((this.value.length + 1) * 7) + 'px';" [(ngModel)]="day.fiveOccupancyPricePercent">
            </ng-container>
          </td>
        </tr>
        <tr *ngFor="let discount of tariff.discounts; let dk = index" [ngClass]="getDiscountClass(discount.type)">
          <ng-container *ngIf="showDiscount(dk, tariff.ra)">
            <td class="discount-title" [ngSwitch]="discount.type">
              <span *ngSwitchCase="'LAST_MINUTE'">горячая</span>
              <span *ngSwitchCase="'BASIC'">базовая</span>
              <span *ngSwitchCase="'MIN_STAY'">мин. срока</span>
              <button class="button-mass btn-danger cancel-tariff" (click)="cancelDiscount(r, t, dk, discount.id)"><i class="fa fa-times"></i></button>
            </td>
            <td *ngFor="let day of tariff.ra" class="text-center">
              <span *ngIf="day.discounts && day.discounts[dk].percent" [ngClass]="discountClass(dk, discount.type, day.discounts)">{{day.discounts[dk].percent}}%</span>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>

  </ng-container>
  </tbody>
</table>
<div class="modal fade" bsModal #cancelconfirm="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title mb-2">Удаление тарифа</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelconfirm.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        Вы действительно хотите удалить тариф?
        <div class="text-center mt-2">
          <button class="btn btn-danger p-2" (click)="removeTarifff(); cancelconfirm.hide()">Да</button>
        </div>
      </div>
    </div>
  </div>
</div>
