<h3>Обзор</h3>
<hr>

<div class="row">
  <div class="col-lg-3">
    <div class="input-group">
		<input type="text" class="form-control" [bsConfig]="bsConfig" #dp="bsDatepicker" bsDatepicker [(ngModel)]="date">
      <span (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="input-group-addon">
	  		<i class="fa fa-calendar-check-o"></i>
			</span>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <button (click)="show()" class="btn btn-success">От указанной даты показать 31 день</button>
    </div>
  </div>
</div>
<br>
<div *ngIf="rooms && rooms.length > 0 && period; else loading">
	<review-table
	[rooms] = 'rooms'
	[period] = 'period'
	 ></review-table>
</div>
<ng-template #loading>
    <div *ngIf="!loaded" class="col-8">
      <app-loading></app-loading>
    </div>
  <div *ngIf="loaded && rooms.length === 0" class=" col-8 pt-3 text-center">
    <img class="empty-image img-fluid" src="../../../assets/images/nothing_to_show.png">
    <div class="empty-text">Тарифов не нашлось. Добавите хотя бы один?</div>
  </div>
</ng-template>
