table, th, td {
  font-size: 12px;
  border: 1px solid #00000020;
  padding: 0;
  vertical-align: middle;
  min-width: 29px;
}
.table {
  position: relative;
}
.second-head {
  position: absolute;
  top: 0;
  z-index: 3;
}
.data-call{
  height: 30px;
  width: 20px;
}
.available{
  background-color:#81c784;
}
.available:hover {
  background-color: #61a784;
}
.zeros {
  background-color: #F9B815;
}
.zeros:hover {
  background-color: #CF802E;
}
.table-header{
  background-color: #337ab7;
  height: 30px;
  max-width: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  color: white;
}
.table-header-bordered {
  border-bottom: 2px solid #666;
}
.data-type{
  background-color:#00000020;
}
.no-data{
  background-color:#ddd;
}
.no-data:hover {
  background-color: #bbb;
}
.center-text {
  text-align: center;
}
.room-title {
  padding: 5px 10px;
  font-weight: bold;
  position: relative;
}
.room-title span {
  line-height: 1;
  margin-right: 20px;
  display: inline-block;
}
.tariff-title {
  padding-left: 20px;
  padding-right: 5px;
  color: #0028c7;
  padding-bottom: 2px;
}
.tariff-title span {
  line-height: 1;
}
:host /deep/ .tooltip .tooltip-inner {
  max-width: none;
  white-space: nowrap;
}

.closed {
  background-color: #d9534f;
}
.closed:hover {
  background-color: #d9836f;
}
.input-field {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
}
.input-field:focus, .input-field:active {
  outline: none;
}
.price-title {
  color: #666;
  min-width: 145px;
  padding: 2px 5px 2px 30px;
}
.button-mass {
  float: right;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.button-mass:focus, .button-mass:active {
  outline: none;
}
.button-mass-room {
  position: absolute;
  top: calc(50% - 10px);
  right: 5px;
}
.tariff-buttons {
  white-space: nowrap;
  display: inline-block;
  float: right;
}
.tariff-buttons .button-mass {
  float: none;
}
.longer-tariff i {
  width: 9.5px;
}
.room td{
  border-top-width: 2px;
  border-top-color: #aaa;
}
.discount-title {
  padding: 1px 0 1px 30px;
  white-space: nowrap;
}
.basediscount td {
  color: #CF802E;
}
.minstaydiscount td {
  color: #61a784;
}
.lastmindiscount td {
  color: #d9534f;
}
.less {
  color: #ccc;
}
.close {
  position: absolute;
  top: 12px;
  right: 10px;
}
.modal-body {
  padding-top: 5px;
}
