<div class="modal-body" *ngIf="tariff">
  <h5 class="modal-title mb-2">Продлить тариф</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <alert *ngIf="!isSuccess && isSuccess !== undefined" type="danger">
    <strong >Oop!</strong> something went wrong.
  </alert>

  <alert *ngIf="isSuccess" type="success">
    <strong >Well done!</strong>
  </alert>


  <form (ngSubmit)="submitForm()">
    <div>
      <label class="form-text">Продлить до</label>
      <div class="input-group">
        <input
          class="form-control"
          autocomplete="off"
          name="to"
          [bsConfig]="bsConfig"
          [minDate]="from"
          [(ngModel)]="day"
          #dp="bsDatepicker"
          bsDatepicker>
      </div>
      <button  type="submit" class="btn btn-warning btn-block">Сохранить</button>
    </div>
  </form>
</div>
