<div class="modal-body" *ngIf="tariff">
  <h5 class="modal-title mb-2">Изменить массив данных</h5>
  <button type="button" class="close" aria-label="Close"  (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
    <alert *ngIf="!isSuccess && isSuccess !== undefined" type="danger">
      <strong >Oop!</strong> something went wrong.
    </alert>

    <alert *ngIf="isSuccess" type="success">
      <strong >Well done!</strong> prices changet
    </alert>
  <form (ngSubmit)="submitForm()">
    <div>
      <label class="form-text">Выберите даты</label>
      <div class="input-group">

        <input
          id="begin"
          class="form-control"
          name="from"
          (bsValueChange) = dateChanged($event)
          [bsConfig]="bsConfig"
          [minDate]="minDateF"
          [(ngModel)]="period[0]"
          #dp="bsDatepicker"
          bsDatepicker>
        <input
          id="end"
          class="form-control"
          name="to"
          [bsConfig]="bsConfig"
          [minDate] = "minDate"
          [(ngModel)]="period[1]"
          #dp="bsDatepicker"
          bsDatepicker>

      </div>
      <label class="form-text">Укажите новую цену</label>
      <div *ngIf="guest === 1" class="input-group">
        <input type="text" class="form-control" name="singleOccupancyPrice"
        [(ngModel)]="data.singleOccupancyPrice"
        >
      </div>

      <div *ngIf="guest === 2" class="input-group">
        <input type="text" class="form-control" name="doubleOccupancyPrice"
        [(ngModel)]="data.doubleOccupancyPrice"
        >
      </div>

      <div *ngIf="guest === 3" class="input-group">
        <input type="text" class="form-control" name="tripleOccupancyPricePercent"
        [(ngModel)]="data.tripleOccupancyPricePercent"
         >
      </div>

      <div *ngIf="guest === 4" class="input-group">
        <input type="text" class="form-control" name="fourOccupancyPricePercent"
        [(ngModel)]="data.fourOccupancyPricePercent"
        >

      </div>

      <div *ngIf="guest === 5" class="input-group">
        <input type="text" class="form-control" name="fiveOccupancyPricePercent"
        [(ngModel)]="data.fiveOccupancyPricePercent"
        >
      </div>

      <button  type="submit" class="btn btn-warning btn-block">Сохранить</button>
    </div>
  </form>
</div>
