<h3>Ваши контактные данные</h3>
<hr>
<div><b>У нас может возникнуть необходимость связаться с вами</b></div>
<p>Назначьте сотрудников, ответственных за следующие темы, что бы мы могли обращаться к нужным лицам по разным вопросам.</p>
<p>Нажмите на контакт, чтоб редактировать данные.</p>
<div class="row" *ngIf="contacts; else loading">
  <div class="col-12 col-sm-6 col-md-4 mb-4 contact-card">
    <h6 class="contact-title">Основное контактное лицо</h6>
    <p *ngIf="!main_contact" class="contact-placeholder">Эта контактная информация будет указана в подтверждении бронирования для гостей</p>
    <p *ngIf="main_contact" class="contact-name">
      <span *ngIf="main_contact.name">{{main_contact.name}}</span>
      <span *ngIf="!main_contact.name" class="empty-name">Нет имени</span>
      <span *ngIf="main_contact.email" class="add-contact">{{main_contact.email}}</span>
      <span *ngIf="main_contact.phone" class="add-contact">{{main_contact.phone}}</span>
    </p>
    <button (click)="openForm(contact_Form, 'general')" class="d-inline-block btn btn-bronirovka">
      <span *ngIf="!main_contact">Добавить контакт</span>
      <span *ngIf="main_contact">Редактировать</span>
    </button>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4 contact-card">
    <h6 class="contact-title">Бронирования</h6>
    <p *ngIf="!booking_contact" class="contact-placeholder">Это контактное лицо занимается Вашими бронированиями</p>
    <p *ngIf="booking_contact" class="contact-name">
      <span *ngIf="booking_contact.name">{{booking_contact.name}}</span>
      <span *ngIf="!booking_contact.name" class="empty-name">Нет имени</span>
      <span *ngIf="booking_contact.email" class="add-contact">{{booking_contact.email}}</span>
      <span *ngIf="booking_contact.phone" class="add-contact">{{booking_contact.phone}}</span>
    </p>
    <button (click)="openForm(contact_Form, 'bookings')" class="d-inline-block btn btn-bronirovka">
      <span *ngIf="!booking_contact">Добавить контакт</span>
      <span *ngIf="booking_contact">Редактировать</span>
    </button>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4 contact-card">
    <h6 class="contact-title">Наличие мест</h6>
    <p *ngIf="!availability_contact" class="contact-placeholder">С этим контактным лицом мы будем связываться по всем вопросам, касающихся наличия мест</p>
    <p *ngIf="availability_contact" class="contact-name">
      <span *ngIf="availability_contact.name">{{availability_contact.name}}</span>
      <span *ngIf="!availability_contact.name" class="empty-name">Нет имени</span>
      <span *ngIf="availability_contact.email" class="add-contact">{{availability_contact.email}}</span>
      <span *ngIf="availability_contact.phone" class="add-contact">{{availability_contact.phone}}</span>
    </p>
    <button (click)="openForm(contact_Form, 'places')" class="d-inline-block btn btn-bronirovka">
      <span *ngIf="!availability_contact">Добавить контакт</span>
      <span *ngIf="availability_contact">Редактировать</span>
    </button>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4 contact-card">
    <h6 class="contact-title">Установление тарифов</h6>
    <p *ngIf="!tariffs_contact" class="contact-placeholder">С этим контактным лицом мы будем связываться по всем вопроса, касающихся установления тарифов</p>
    <p *ngIf="tariffs_contact" class="contact-name">
      <span *ngIf="tariffs_contact.name">{{tariffs_contact.name}}</span>
      <span *ngIf="!tariffs_contact.name" class="empty-name">Нет имени</span>
      <span *ngIf="tariffs_contact.email" class="add-contact">{{tariffs_contact.email}}</span>
      <span *ngIf="tariffs_contact.phone" class="add-contact">{{tariffs_contact.phone}}</span>
    </p>
    <button (click)="openForm(contact_Form, 'tariffs')" class="d-inline-block btn btn-bronirovka">
      <span *ngIf="!tariffs_contact">Добавить контакт</span>
      <span *ngIf="tariffs_contact">Редактировать</span>
    </button>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4 contact-card">
    <h6 class="contact-title">Фотографии и описание</h6>
    <p *ngIf="!content_contact" class="contact-placeholder">Это контактное лицо ответственно за то, как Ваш объект размещения выглядит на сайте</p>
    <p *ngIf="content_contact" class="contact-name">
      <span *ngIf="content_contact.name">{{content_contact.name}}</span>
      <span *ngIf="!content_contact.name" class="empty-name">Нет имени</span>
      <span *ngIf="content_contact.email" class="add-contact">{{content_contact.email}}</span>
      <span *ngIf="content_contact.phone" class="add-contact">{{content_contact.phone}}</span>
    </p>
    <button (click)="openForm(contact_Form, 'view')" class="d-inline-block btn btn-bronirovka">
      <span *ngIf="!content_contact">Добавить контакт</span>
      <span *ngIf="content_contact">Редактировать</span>
    </button>
  </div>
  <div class="col-12 col-sm-6 col-md-4 mb-4 contact-card">
    <h6 class="contact-title">Договора</h6>
    <p *ngIf="!contract_contact" class="contact-placeholder">Данное контактное лицо ответственно за соглашение о партнерстве</p>
    <p *ngIf="contract_contact" class="contact-name">
      <span *ngIf="contract_contact.name">{{contract_contact.name}}</span>
      <span *ngIf="!contract_contact.name" class="empty-name">Нет имени</span>
      <span *ngIf="contract_contact.email" class="add-contact">{{contract_contact.email}}</span>
      <span *ngIf="contract_contact.phone" class="add-contact">{{contract_contact.phone}}</span>
    </p>
    <button (click)="openForm(contact_Form, 'agreement')" class="d-inline-block btn btn-bronirovka">
      <span *ngIf="!contract_contact">Добавить контакт</span>
      <span *ngIf="contract_contact">Редактировать</span>
    </button>
  </div>
</div>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <app-loading-error *ngIf="!contacts && loaded"></app-loading-error>
</ng-template>
<ng-template #contact_Form>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Редактировать</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>{{openFormModTitle}}</h4>
    <form (ngSubmit)="onSubmitContact()">
      <div class="form-group">
        <label class="form-text" for="name">Имя</label>
        <input class="form-control" id="name" name="name" #name="ngModel" placeholder="Имя" [(ngModel)]="contactForm.name" required>
        <div *ngIf="name.invalid && name.touched" class="alert-form">
          <div *ngIf="name.errors.required">
            Введите имя сотрудника
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-text" for="position">Дожность</label>
        <input class="form-control" id="position" name="position" #position="ngModel" placeholder="Должность" [(ngModel)]="contactForm.position">
      </div>
      <div class="form-group">
        <label class="form-text" for="email">Email</label>
        <input class="form-control" id="email" name="email" #email="ngModel" placeholder="Email" [(ngModel)]="contactForm.email" pattern="{{emailPattern}}" required>
        <div *ngIf="email.invalid && email.touched" class="alert-form">
          <div *ngIf="email.errors.required">
            Введите email вашего сотрудника
          </div>
          <div *ngIf="email.errors.pattern">
            Введенное не является email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-text" for="phone">Телефон</label>
        <input class="form-control" id="phone" name="phone" #phone="ngModel" placeholder="Телефон" [(ngModel)]="contactForm.phone" [textMask]="{mask: phoneMask, guide: false}" required>
        <div *ngIf="phone.invalid && phone.touched" class="alert-form">
          <div *ngIf="phone.errors.required">
            Введите телефон вашего сотрудника в международном формате
          </div>
        </div>
      </div>
      <button type="submit" class="d-inline-block btn btn-warning">Сохранить</button>
    </form>
  </div>
</ng-template>
<app-notification [option]="notificate"></app-notification>
