.contact-placeholder {
  color: #ddd;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
  min-height: 50px;
  line-height: 1;
}
.contact-name {
  color: #00135F;
  font-weight: 500;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
  min-height: 50px;
  line-height: 1;
}
.contact-card {
  padding-top: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}
.contact-title {
  font-size: 18px;
  font-weight: bold;
}
.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
  border: 1px solid #42A948;
}

.ng-invalid:not(form).ng-touched  {
  border: 1px solid #a94442;
}
.alert-form {
  color: #a94442;
  font-size: 12px;
}
.form-text {
  margin-bottom: 5px;
  font-weight: 600;
}
.empty-name {
  color: #ddd;
}
.add-contact {
  font-size: 12px;
  color: #333333;
  font-weight: normal;
  display: block;
  margin-top: 2px;
}
