.offer {
  color: #ffffff;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #56B047;
  background-color: #417839;
  border-radius: 10px;
}
.fa.main {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 300%;
  border: 10px solid #56B047;
  background: #417839;
  color: white;
  height: 85px;
  width: 85px;
}
.label-text {
  font-weight: 500;
}
.form-check-label {
  display: block;
  margin-bottom: 10px;
}
.rangedate {
  font-size: 12px;
}
.empty-text {
  font-weight: bold;
  color: #ddd;
}
.input-group {
  width: 42%;
}
.checkall {
  color: #417839;
  cursor: pointer;
}
.checkall:hover {
  color: #56B047;
}
h3 {
  position: absolute;
  right: calc(50% + 85px);
  top: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.text-danger {
  line-height: 0;
  font-size: 12px;
}
