<h3>Минимальный срок проживания</h3>
<div class="text-center">
  <i class="fa fa-calendar main"></i>
</div>
<p class="offer">
  Предложение Минимальное проживание рассчитано на бронирование на 2 или 3 ночи.
</p>
<form (ngSubmit)="onSubmit()" class="row">
  <div class="col-12">
    <div class="form-group row">
      <label class="label-text col-3">Процент скидки по предложению</label>
      <nouislider class="col-6 min-stay" name="percent" [(ngModel)]="baseForm.persent" [min]="minPercent" [max]="maxPercent" [step]="1" [tooltips]="[ true ]"></nouislider>
    </div>
    <div class="form-group row">
      <label class="label-text col-3">Выберите даты на которое действительно предложение</label>
      <div class="col-6 row">
        <label class="label-text mr-1">С:</label>
        <div class="input-group">
          <input
            class="form-control"
            name="from"
            (bsValueChange) = dateChanged($event)
            [bsConfig]="bsConfig"
            [minDate] = "MinDates[0]"
            [(ngModel)]="baseForm.dates[0]"
            #dps="bsDatepicker"
            bsDatepicker>
          <span (click)="dps.toggle()" [attr.aria-expanded]="dps.isOpen" class="input-group-addon">
	  		  <i class="fa fa-calendar-check-o"></i>
			  </span>
        </div>
        <label class="label-text ml-3 mr-1">По:</label>
        <div class="input-group">
          <input
            class="form-control"
            name="to"
            [bsConfig]="bsConfig"
            [minDate] = "MinDates[1]"
            [(ngModel)]="baseForm.dates[1]"
            #dp="bsDatepicker"
            bsDatepicker>
          <span (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="input-group-addon">
	  		  <i class="fa fa-calendar-check-o"></i>
			  </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label><b>Тарифы:</b></label>
      <ng-container *ngIf="tariffs; else loadingwidget">
        <div class="mb-2">
          <span class="checkall" (click)="selectAllTriffs()">Выбрать все</span> |
          <span class="checkall" (click)="unselectAllTariffs()">Отменить все</span>
        </div>
        <label *ngFor="let tariff of tariffs" class="form-check-label">
          <input class="form-check-input"
                 type="checkbox"
                 (change)="onTariffChange($event, tariff.id)"
                 [checked]="initCheckTariff(tariff.id)">
          {{tariff.title}}
        </label>
      </ng-container>
      <ng-template #loadingwidget>
        <div *ngIf="!loaded" class="col-3">
          <app-loading></app-loading>
        </div>
        <div *ngIf="!tariffs && loaded" class="empty-text">
          Добавте, пожалуйста, тарифы
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-9">
    <div class="form-group">
      <label>
        <b>Выберите дни действия скидки:</b>
      </label>
      <div>
        <span class="checkall" (click)="selectAllDays()">Выбрать все</span> |
        <span class="checkall" (click)="unselectAllDays()">Отменить все</span>
      </div>
      <div>
        <div class="form-radio d-inline-block mr-3"  *ngFor="let day of weekdays">
          <label class="form-check-label">
            <input class="form-check-input"
                   type="checkbox"
                   (change)="onDayChange($event, day.id)"
                   [checked] = "initCheckboxDay(day.id)">
            {{day.title}}
          </label>
        </div>
      </div>
      <div *ngIf="existWeekdays" class="text-danger">Выберите дни действия скидки</div>
    </div>
    <div class="form-group">
      <label><b>Сколько ночей должны забронировать гости</b></label>
        <select class="form-control col-4" name="minNights" [(ngModel)]="baseForm.minNights">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
    </div>
  </div>
  <div class="button-submit col-12">
    <button [disabled]="!loaded || !tariffs || baseForm.tariffs.length === 0" type="submit" class="btn btn-warning">Сохранить</button>
  </div>
</form>
<app-notification [option]="notificate"></app-notification>
