<h3>Правила проживания в отеле</h3>
<hr>
<form *ngIf="policies; else loading" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="label-text col-6 col-sm-3 col-md-1 p-0">Заезд с:</label>
    <timepicker [meridians]="false" class="col-6 col-sm-3 col-md-2" name="timestart" [(ngModel)]="policies.timestart" [showMeridian]="false"></timepicker>
    <label class="label-text col-6 col-sm-3 col-md-1 p-0">Отъезд до:</label>
    <timepicker [meridians]="false" class="col-6 col-sm-3 col-md-2" name="timeend" [(ngModel)]="policies.timeend" [showMeridian]="false"></timepicker>
  </div>
  <div class="form-group row col-8">
    <label class="label-text col-5">Животные</label>
    <div class="form-check col-7">
      <label class="form-check-label">
        <input class="form-check-input" name="pets" value="FORBIDDEN" type="radio" [(ngModel)]="policies.pets">
        Животные не допускаются
      </label>
      <label class="form-check-label">
        <input class="form-check-input" name="pets" value="ALLOWED" type="radio" [(ngModel)]="policies.pets">
        Животные допускаются
      </label>
      <label class="form-check-label">
        <input class="form-check-input" name="pets" value="NEED_CONFIRMATION" type="radio" [(ngModel)]="policies.pets">
        Животные допускаются. Необходимо подтверждение отеля.
      </label>
    </div>
  </div>
  <div class="form-group row col-8">
    <label class="label-text col-5">Проживание детей</label>
    <div class="form-check col-7">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="children" [value]="true" [(ngModel)]="policies.children">
        Разрешается проживание только взрослых. Детей (до 18 лет) не принимаем
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="children" [value]="false" [(ngModel)]="policies.children">
        Разрешается проживание детей любого возраста
      </label>
    </div>
  </div>
  <div *ngIf="!policies.children">
    <div class="form-group offset-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="initCheckbox(0)" (change)="onLimitsChange(0)">
        При размещении детей в возрасте от <select name="adds_0_agestart" [(ngModel)]="policies.adds[0].agestart"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> до <select name="adds_0_ageend" [(ngModel)]="policies.adds[0].ageend"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> на <b>имеющихся кроватях</b> проживание им предоставляется <select name="adds_0_type" (ngModelChange)="checkChildrenPrice(0)" [(ngModel)]="policies.adds[0].type"><option value="free">бесплатно</option><option value="pay">платно</option></select>
      </label>
      <label class="form-check-label" *ngIf="policies.adds[0].type === 'pay'">Стоимость размещения одного ребенка <input name="adds_0_price" type="number" [(ngModel)]="policies.adds[0].price"></label>
    </div>
    <div class="form-group offset-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="initCheckbox(1)" (change)="onLimitsChange(1)">
        При размещении детей в возрасте от <select name="adds_1_agestart" [(ngModel)]="policies.adds[1].agestart"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> до <select name="adds_1_ageend" [(ngModel)]="policies.adds[1].ageend"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> на <b>имеющихся кроватях</b> проживание им предоставляется <select name="adds_1_type" (ngModelChange)="checkChildrenPrice(1)" [(ngModel)]="policies.adds[1].type"><option value="free">бесплатно</option><option value="pay">платно</option></select>
      </label>
      <label class="form-check-label" *ngIf="policies.adds[1].type === 'pay'">Стоимость размещения одного ребенка <input name="adds_1_price" type="number" [(ngModel)]="policies.adds[1].price"></label>
    </div>
    <div class="form-group offset-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="initCheckbox(2)" (change)="onLimitsChange(2)">
        При размещении детей в возрасте от <select name="adds_2_agestart" [(ngModel)]="policies.adds[2].agestart"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> до <select name="adds_2_ageend" [(ngModel)]="policies.adds[2].ageend"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> на <b>дополнительных кроватях</b> проживание им предоставляется <select name="adds_2_type" (ngModelChange)="checkChildrenPrice(2)" [(ngModel)]="policies.adds[2].type"><option value="free">бесплатно</option><option value="pay">платно</option></select>
      </label>
      <label class="form-check-label" *ngIf="policies.adds[2].type === 'pay'">Стоимость размещения одного ребенка <input name="adds_2_price" type="number" [(ngModel)]="policies.adds[2].price"></label>
    </div>
    <div class="form-group offset-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="initCheckbox(3)" (change)="onLimitsChange(3)">
        При размещении детей в возрасте от <select name="adds_3_agestart" [(ngModel)]="policies.adds[3].agestart"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> до <select name="adds_3_ageend" [(ngModel)]="policies.adds[3].ageend"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> на <b>дополнительных кроватях</b> проживание им предоставляется <select name="adds_3_type" (ngModelChange)="checkChildrenPrice(3)" [(ngModel)]="policies.adds[3].type"><option value="free">бесплатно</option><option value="pay">платно</option></select>
      </label>
      <label class="form-check-label" *ngIf="policies.adds[3].type === 'pay'">Стоимость размещения одного ребенка <input name="adds_3_price" type="number" [(ngModel)]="policies.adds[3].price"></label>
    </div>
    <div class="form-group offset-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="initCheckbox(4)" (change)="onLimitsChange(4)">
        При размещении детей в возрасте от <select name="adds_4_agestart" [(ngModel)]="policies.adds[4].agestart"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> до <select name="adds_4_ageend" [(ngModel)]="policies.adds[4].ageend"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> на <b>детских кроватках</b> проживание им предоставляется <select name="adds_4_type" (ngModelChange)="checkChildrenPrice(4)" [(ngModel)]="policies.adds[4].type"><option value="free">бесплатно</option><option value="pay">платно</option></select>
      </label>
      <label class="form-check-label" *ngIf="policies.adds[4].type === 'pay'">Стоимость размещения одного ребенка <input name="adds_4_price" type="number" [(ngModel)]="policies.adds[4].price"></label>
    </div>
    <div class="form-group offset-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="initCheckbox(5)" (change)="onLimitsChange(5)">
        При размещении детей в возрасте от <select name="adds_5_agestart" [(ngModel)]="policies.adds[5].agestart"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> до <select name="adds_5_ageend" [(ngModel)]="policies.adds[5].ageend"><option *ngFor="let age of ageArray" value="{{age}}">{{age}}</option></select> на <b>детских кроватках</b> проживание им предоставляется <select name="adds_5_type" (ngModelChange)="checkChildrenPrice(5)" [(ngModel)]="policies.adds[5].type"><option value="free">бесплатно</option><option value="pay">платно</option></select>
      </label>
      <label class="form-check-label" *ngIf="policies.adds[5].type === 'pay'">Стоимость размещения одного ребенка <input name="adds_5_price" type="number" [(ngModel)]="policies.adds[5].price"></label>
    </div>
  </div>
  <div class="button-submit">
    <button  type="submit" class="btn btn-warning">Сохранить</button>
  </div>
</form>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <app-loading-error *ngIf="!policies && loaded"></app-loading-error>
</ng-template>
<app-notification [option]="notificate"></app-notification>
