<nav class="navbar head container-fluid">
  <div class="head-content row ml-3 mr-3">
    <a class="nav-brand">BRONIROVKA.UA</a>
    <a *ngIf="hotel" class="nav-brand second">{{hotel.title}} #{{hotel.id}}   <span class="text-info ml-3" *ngIf="hotel.status === 'NOT_CONFIRMED'">НЕ ПОДТВЕРЖДЕН</span><span class="text-danger ml-3" *ngIf="hotel.status === 'BLOCKED'">ЗАБЛОКИРОВАН</span></a>
    <div class="navbar-nav head-item">
      <a class="nav-item" (click)="logout()">выйти</a>
    </div>
  </div>
</nav>

<div class="container-fluid menu">
  <div class="col-12">
    <a
    [routerLink]="['/general'] | localize" [routerLinkActive]="['active']">
   	{{ 'GENERAL_INFO'| translate}}
    </a>
    <a [routerLink]="['/tariffs'] | localize" [routerLinkActive]="['active']">
    {{ 'TARIFF_AVAILABILITY'| translate}}
    </a>
    <a [routerLink]="['/website'] | localize" [routerLinkActive]="['active']">
    {{ 'FILLING_WEBSITE'| translate}}
    </a>
    <a [routerLink]="['/spacial-offer'] | localize" [routerLinkActive]="['active']">
    {{ 'SPECIAL_OFFERS'| translate}}
    </a>
    <a [routerLink]="['/booking'] | localize" [routerLinkActive]="['active']">
    {{ 'BOOKINGS'| translate}}
    </a>
    <a [routerLink]="['/finance'] | localize" [routerLinkActive]="['active']">
    {{ 'FINANCE'| translate}}
    </a>
   </div>
</div>

<div class="container-fluid content">
		<router-outlet></router-outlet>
    <auth-modal></auth-modal>
    <!--<simple-notifications [options]="options">dad</simple-notifications>-->
</div>


