.head {
  background: #00135f;
  color: white;
  padding: 0;
  height: 51px;
}
.head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-brand {
  font-weight: 500;
  font-size: 20px;
}
.head-item {
  padding: 15px;
  border-left: 2px solid #004A7f;
}
.head-item:last-child {
  border-right: 2px solid #004A7f;
}
.head-item:hover {
  background: #004A7f;
}
.menu {
  background: #004A7f;
  padding-top: 15px;
  border-bottom: 1px solid #FFBB39;
}
.menu a {
  color: white;
  padding: 7px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.menu a:hover, .menu a:focus {
  text-decoration: none;
  background: #337ab7;
}
.menu a.active {
  border: 1px solid #FFBB39;
  border-bottom: none;
  background: white;
  color: black;
  font-weight: 500;
  padding-bottom: 8px;
}
.col-12 {
  padding-bottom: 6px;
}
.second {
  flex-grow: 3;
  margin-left: 30px;
  font-size: 18px;
}
