<div class="text-center">
  <img class="img-fluid" style="margin-top: 40px;opacity: 0.3" src="../../../assets/images/fail_loading.png" alt="ошибка">
  <span class="d-block mt-2" style="font-size: 18px;color: #aaa;"><b>Не удалось загрузить данные<br>Повторите попытку</b></span>
</div>
