<!--<p>-->
  <!--finance works!-->
  <!--<a target="_self" href="http://192.168.0.103:8000/en/report/44/exel">Downloading</a>-->
<!--</p>-->
<div class="container-fluid">
  <div class="col-12">
    <table *ngIf="finance; else loading" datatable [dtOptions]="dtOptions" class="row-border hover booking-table">
      <thead>
      <tr>
        <th>№Счета</th>
        <th>Период</th>
        <th>Сума</th>
        <th>Статус</th>
        <th>Скачать отчет</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fin of finance; index as i">
        <td class="id">{{fin.id}}</td>
        <td>{{fin.from | date: 'dd.MM.yyyy'}} - {{fin.to | date: 'dd.MM.yyyy'}}</td>
        <td class="price">{{fin.totalSum}}</td>
        <td [ngClass]="{'confirmed': fin.status === 'invoice', 'notconfirmed': fin.status === 'CANCELED_BY_HOTEL'}">{{fin.status}}</td>
        <td>
          <a target="_self" (click)="downloadFile(fin.id)" class="bookingtable-buttons__button confirm">prob</a>
          <a target="_self" download="report_{{fin.from | date: 'dd/MM/yyyy'}}-{{fin.to | date: 'dd/MM/yyyy'}}.xlsx" href="{{backEnd}}en/extranet/report/{{fin.id}}/exel" class="bookingtable-buttons__button confirm">excel</a>
          <a target="_self" class="bookingtable-buttons__button deny">pdf</a>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <app-loading *ngIf="!loaded"></app-loading>
      <div class="empty-text text-center" *ngIf="loaded && !finance">Никаких квитанций пока не поступило</div>
    </ng-template>
  </div>
</div>
