.booking-table thead {
  background: #337ab7;
  color: white;
}
.booking-table th {
  border-right: 1px solid white;
  border-bottom: 2px solid #004A7F;
  text-align: center;
}
.booking-table th:last-child {
  border-right: none;
}
.booking-table {
  width: 100% !important;
}
.booking-table td {
  font-size: 12px;
  text-align: center;
  padding: 5px;
}
.booking-table .price {
  font-weight: bold;
  color: #004A7F;
  font-size: 14px;
}
.booking-table .id {
  color: #337ab7;
  position: relative;
  padding-left: 15px;
  padding-right: 5px;
  border-left: 1px solid #ddd;
}
.booking-table .confirmed {
  color: #61a784;
}
.booking-table .notconfirmed {
  color: #d9534f;
}
.bookingtable-buttons__button {
  color: white !important;
  padding: 3px 8px 5px;
  border: none;
  border-radius: 4px;
}
.bookingtable-buttons__button:hover, .bookingtable-buttons__button:focus {
  text-decoration: none;
}
.bookingtable-buttons__button.deny {
  background: linear-gradient(to bottom, #d9836f 0%, #d9534f 100%);
}
.bookingtable-buttons__button.deny:focus {
  background: linear-gradient(to bottom, #d9534f 0%, #d9836f 100%);
}
.bookingtable-buttons__button.confirm {
  background: linear-gradient(to bottom, #81c784 0%, #519764 100%);
}
.bookingtable-buttons__button.confirm:focus {
  background: linear-gradient(to bottom, #519764 0%, #81c784 100%);
}
