<div *ngIf="displayBookingInfo">
  <booking-table [bookInfo]="currentBookingId" (closeInfo)="closeFullInfo()"></booking-table>
</div>
<div class="container-fluid">
  <div class="">
    <h3>Неподтвержденные бронирования</h3>
    <hr>
    <p>Дорогой отельер,</p>
    <p>Ниже предоствлен список новых бронирований ваших клиентов. Все бронирования ранее были высланы вам на почту.<br>
      Тем не менее вы еще не подтвердили их просмотр. Чтоб получить дальнейший доступ в екстранет, пожалуйста, пометьте бронирования как просмотренные. Если вы хотите просмотреть детальную информацию о каждом бронировании - кликните на его номер. В дальнейшем вы можете просмотреть его на странице бронирований.</p>
    <p>Спасибо</p>
  </div>
</div>
