.label-text-offer {
  align-self: flex-start;
}
.offer {
  color: #ffffff;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #EA651B;
  background-color: #CD4016;
  border-radius: 10px;
}
.fa.main {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 300%;
  border: 10px solid #EA651B;
  background: #CD4016;
  color: white;
  height: 85px;
  width: 85px;
}
.label-text {
  font-weight: 500;
}
.help-block {
  color: #666;
  line-height: 1;
  font-size: 12px;
}
.form-check-label {
  display: block;
  margin-bottom: 10px;
}
.days {
  column-count: 2;
}
.form-check-input:only-child {
  top: -4px;
}
.activeday {
  margin-bottom: 30px;
}
.rangedate {
  font-size: 12px;
}
.empty-text {
  font-weight: bold;
  color: #ddd;
}
.input-group {
  width: 42%;
}
.checkall {
  color: #CD4016;
  cursor: pointer;
}
.checkall:hover {
  color: #EA651B;
}
h3 {
  position: absolute;
  right: calc(50% + 85px);
  top: 30px;
  font-size: 20px;
  text-transform: uppercase;
}
.text-danger {
  line-height: 0;
  font-size: 12px;
}
