<div class="overlay-login"></div>
<div class="container">
  <div class="row">
    <div class="login-form col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!adminView; else adminview">
          <form (ngSubmit)="submitLoginForm()">
            <div >
              <div class="form-group">
                <label class="form-text" for="login">ID *</label>
                <input type="text"  autoComplete="off" #login="ngModel" class="form-control" placeholder="ID" id="login" [(ngModel)]="loginForm.login" name="login" required>
                <div *ngIf="login.invalid && (login.dirty || login.touched)" class="alert-form">
                  <div *ngIf="login.errors.required">
                    Введите ваш id
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-text" for="password">Пароль *</label>
                <input autoComplete="off" #password="ngModel" class="form-control" placeholder="Пароль" id="password" [(ngModel)]="loginForm.password" name="password" type="password" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-form">
                  <div *ngIf="password.errors.required">
                    Введите ваш пароль
                  </div>
                </div>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">{{errorText}}</div>
              <button  type="submit" class="btn btn-login btn-block">Ввойти</button>
            </div>
          </form>
          <div (click)="adminView = true" class="text-info text-center">Зайти как админ?</div>
        </ng-container>
        <ng-template #adminview>
          <form (ngSubmit)="submitAdminForm()">
            <div class="form-group">
              <label>Вставте токен</label>
              <input type="text" class="form-control"  autoComplete="off" placeholder="Token" [(ngModel)]="adminToken" name="author">
              <br>
              <button  type="submit" class="btn btn-warning btn-block">Login</button>
            </div>
          </form>
          <div *ngIf="!adminEnter" (click)="adminView = false" class="text-info text-center">Зайти как отель?</div>
        </ng-template>
      </div>
    </div>
    <div class="forgot-text col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
      Забыли пароль?
      <span class="forgot-text-button" (click)="openModalForgot1(forgot1)">Восстановить</span>
    </div>
  </div>
</div>
<ng-template #forgot1>
  <div class="modal-header">
    <h4 class="modal-title">Email</h4>
  </div>
  <div class="modal-body">
    <form *ngIf="!EmailSent; else emailsend" (ngSubmit)="openModalForgot2(forgot2)">
      <div>
        <div class="form-group">
          <label class="email-text" for="email">На данный email будет отправлен код, с помощью которого можно будет восстановить ваш пароль</label>
          <input type="text" #email="ngModel" class="form-control" placeholder="Email" id="email" [(ngModel)]="Email" name="email" pattern="{{emailPattern}}" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-form">
            <div *ngIf="email.errors.required">
              Введите ваш email
            </div>
            <div *ngIf="email.errors.pattern">
              Введенное не является email
            </div>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="errorEmail">Данный email не найден</div>
        <div class="col-12 text-center">
          <button  [disabled]="email.invalid" type="submit" class="btn btn-login">Далее</button>
        </div>
      </div>
    </form>
    <ng-template #emailsend>
      <span class="email-send-message">Вам на почту было отправлено письмо с ссылкой. Перейдите по той ссылке для восстановления своего пароля.</span>
    </ng-template>
  </div>
</ng-template>
<ng-template #forgot2>
  <div class="modal-header">
    <h4 class="modal-title">Новый пароль</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="setNewPassword()">
      <div>
        <div class="form-group">
          <label class="form-text" for="token">Код из письма</label>
          <input type="text" formControlName="token"
                 class="form-control" placeholder="Код" id="token" required>
          <div *ngIf="token.invalid && (token.dirty || token.touched)" class="alert-form">
            <div *ngIf="token.errors.required">
              Введите ваш код
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-text" for="password_f">Новый пароль</label>
          <input type="password" class="form-control" placeholder="Пароль" #password_f id="password_f" formControlName="password_f" required>
          <div *ngIf="password_f.invalid && (password.dirty || password_f.touched)" class="alert-form">
            <div *ngIf="password_f.errors.required">
              Введите ваш новый код
            </div>
            <div *ngIf="password_f.errors.minlength">
              Новый код должен быть не менее 6 символов
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-text" for="passwordconfirm">Подтвердите пароль</label>
          <input type="password" class="form-control" placeholder="Подтверждение пароля" id="passwordconfirm" formControlName="passwordconfirm" required>
          <div *ngIf="passwordconfirm.invalid && (passwordconfirm.dirty || passwordconfirm.touched)" class="alert-form">
            <div *ngIf="passwordconfirm.errors.required">
              Подтвердите ваш новый код
            </div>
          </div>
          <div *ngIf="forgotPasswordForm.hasError('mismatchedPasswords') && passwordconfirm.touched" class="alert-form">
            Пароль и его подтверждение не совпадают
          </div>
        </div>
        <div class="col-12 p-0 text-left">
          <button  [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-login">Готово</button>
          <div class="email-repeat-text mt-3 pull-right">
            Не получили письмо?
            <span class="forgot-text-button" (click)="sendEmailAgain()">Отправить еще раз</span>
          </div>
        </div>
        <div *ngIf="errorToken" class="alert-form mt-2"><b>Данный код не найден</b></div>
      </div>
    </form>
  </div>
</ng-template>
