.overlay-login {
  position: fixed;
  background: #f5f5f5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.login-form {
  position: relative;
  top: -90px;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-login {
  border: 1px solid #285e8e;
  background: #004A7F;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn-login:focus {
  outline: none;
  background: #00135f;
}
.modal-header {
  padding-bottom: 0;
}
.form-text {
  margin-bottom: 2px;
  font-weight: 500;
}
.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
  border: 1px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched  {
  border: 1px solid #a94442; /* red */
}
.alert-form {
  color: #a94442;
  font-size: 12px;
}
.forgot-text {
  font-size: 12px;
  color: #666;
  position: relative;
  top: -80px;
}
.forgot-text-button {
  color: #004A7F;
  margin-left: 10px;
  cursor: pointer;
}
.forgot-text-button:hover {
  color: #285e8e;
}
.email-text {
  line-height: 1;
  display: block;
}
.email-repeat-text {
  font-size: 12px;
  color: #666;
}
.email-send-message {
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}
