<h3>Налоги и зборы</h3>
<hr>
<form *ngIf="taxes; else loading" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-6">
      <div class="form-group row">
        <label class="label-text col-5">Городской налог</label>
        <div class="input-group col-3">
          <input min="0" class="count form-control" name="tax" type="number" [(ngModel)]="taxes.tax">
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="form-group offset-1">
        <label class="form-check-label w-100">
          <input name="isTaxIncluded" class="form-check-input" [value]="false" type="radio" [(ngModel)]="taxes.isTaxIncluded">
          Не входит (в стоимость проживания)
        </label>
        <label class="form-check-label w-100">
          <input name="isTaxIncluded" class="form-check-input" [value]="true" type="radio" [(ngModel)]="taxes.isTaxIncluded">
          Входит (в стоимость проживания)
        </label>
      </div>
    </div>
    <div class="col-4">
      <div class="alert alert-warning">
        <strong>Вниманию платильщиков НДС! </strong> Это налог должен быть включен в цену проживания и цену дополнительных услуг(если такие продаются).На Нашем сайте, все отображенные цены включают НДС.
      </div>
    </div>
  </div>
  <div class="button-submit">
    <button  type="submit" class="btn btn-warning">Сохранить</button>
  </div>
</form>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <app-loading-error *ngIf="!taxes && loaded"></app-loading-error>
</ng-template>
<app-notification [option]="notificate"></app-notification>
