<h3>Общие сведения</h3>
<hr>
<div class="row" *ngIf="hotel; else loading">
  <div class="col-7">
    <table class="table table-striped info-hotel">
      <tr *ngIf="hotel.titleUA">
        <td>Название на украинском</td>
        <td>{{hotel.titleUA}}</td>
      </tr>
      <tr *ngIf="hotel.titleRU">
        <td>Название на русском</td>
        <td>{{hotel.titleRU}}</td>
      </tr>
      <tr *ngIf="hotel.titleEN">
        <td>Название на английском</td>
        <td>{{hotel.titleEN}}</td>
      </tr>
      <tr *ngIf="hotel.type">
        <td>Тип объекта размещения</td>
        <td>{{hotel.type.title}}</td>
      </tr>
      <tr>
        <td>Количество звёзд</td>
        <td id="stars"><i *ngFor="let i of stars" class="fa stars fa-star"></i></td>
      </tr>
      <tr>
        <td>Количество номеров</td>
        <td>{{hotel.roomCount}}</td>
      </tr>
      <tr *ngIf="hotel.country">
        <td>Страна</td>
        <td>{{hotel.country.title}}</td>
      </tr>
      <!--<tr>-->
        <!--<td>Область</td>-->
        <!--<td>{{hotel.location.regionId}}</td>-->
      <!--</tr>-->
      <!--<tr *ngIf="hotel.location.cityId">-->
        <!--<td>Город</td>-->
        <!--<td>{{hotel.location.cityId}}</td>-->
      <!--</tr>-->
      <tr>
        <td>Адрес</td>
        <td>{{hotel.location.address}}</td>
      </tr>
      <!--<tr>-->
      <!--<td>Индекс</td>-->
      <!--<td></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>Номерной фонд</td>-->
      <!--<td>10</td>-->
      <!--</tr>-->
    </table>
    <div class="row">
      <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        Уважаемый партнер, если Вам необходимо отредактировать эту информацию, пожалуйста обратитесь к сотруднику Bronirovka.ua        </p>
    </div>
  </div>
  <div class="col-5">
    <img *ngIf="loaded && hotel" class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=400x350&maptype=roadmap
&markers=color:red%7Clabel:A%7C{{hotel.location.lat}},{{hotel.location.lng}}
&key=AIzaSyDRlEwD8OpEOLqav49-iwB7tOtJvMpvUcQ">
  </div>
</div>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <app-loading-error *ngIf="!hotel && loaded"></app-loading-error>
</ng-template>
