.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table td, .table th {
  padding: 6px 8px;
  border-color: #ddd;
}
.table {
  margin-left: 15px;
}
.stars {
  color: #F9B815;
}
table tr:first-child td {
  border-top: none;
}
