<h3>Создать тариф</h3>
<hr>

<form (ngSubmit)="onSubmit()">

	<div class=" col-8 form-group">
	  <label>Введите название</label>
	  <input type="text" name="title" (ngModelChange)="tariffUniq = true" (blur)="checkTariffName()" class="form-control" aria-describedby="nameHelpBlock"
	  [(ngModel)]="tariff.title">
    <div *ngIf="!tariffUniq" class="alert-form">Данное имя уже используется</div>
	  <p id="nameHelpBlock" class="form-text text-muted">
 		Пожалуйста, введите название Вашего тарифа. Это название будете видеть только Вы и только в экстранет
		</p>
	</div>

	<div class="form-inline col-11 indent-top">

		<div class="form-group row col-5">
	    <div class="input-group">
	      <label for="begin" class="col-sm-2 col-form-label">C:</label>
		    	<input
		    	id="begin"
		    	class="form-control"
		      placeholder=""
		      name="from"
          (bsValueChange) = dateChanged($event)
          [bsConfig]="bsConfig"
          [minDate] = "MinDates[0]"
          [(ngModel)]="DataValue[0]"
		       #dps="bsDatepicker"
		      bsDatepicker>
		      <span (click)="dps.toggle()" [attr.aria-expanded]="dps.isOpen" class="input-group-addon">
		        <i class="fa fa-calendar-check-o"></i>
		      </span>
	    </div>
	  </div>

	  <div class="form-group row col-6">
	    <div class="input-group">
	      <label for="begin" class="col-sm-2 col-form-label">По:</label>
		    	<input
		    	id="end"
		    	class="form-control"
		      placeholder=""
		      name="to"
          [bsConfig]="bsConfig"
          [minDate] = "MinDates[1]"
          [(ngModel)]="DataValue[1]"
		       #dp="bsDatepicker"
           bsDatepicker>
		      <button (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="input-group-addon"  type="button">
		        <i class="fa fa-calendar-check-o"></i>
		      </button>
	    </div>
	  </div>

	</div>

	<div class="row indent-top">

		<div class="col-sm-4">
		<label><b>На один или более дней:</b></label>
		<div>
			<a href (click)="setAllDays($event)" >Выбрать все</a> |
			<a href (click)="desellectAllDays($event)" >Отменить все</a>
		</div>
			<div class="form-check" *ngFor="let day of weekdays; index as i" >
			  <label class="form-check-label">
			    <input name ="{{day}}"
			    class="form-check-input" type="checkbox"
			    (change)="onDayChange($event, i + 1)"
			    [checked] = "initCheckboxDay(i + 1)">
			    {{day}}
			  </label>
			</div>

		</div>

		<div class="col-4">
			<label><b>Тариф:</b></label>
			<div class="form-radio" >
			  <label class="form-check-label">
			    <input name="type"
			    [(ngModel)]="tariff.type"
			    class="form-check-input" type="radio" value="STANDART">
			    Стандартный
			  </label>
			</div>

			<div class="form-radio" >
			  <label class="form-check-label">
			    <input name="type" [(ngModel)]="tariff.type" class="form-check-input" type="radio" value="NON_REFUNDABLE">
			    Невозвратный
			  </label>
			</div>

		</div>

		<div class="col-4">
			<label><b>Категория номера:</b></label>
      <ng-container *ngIf="rooms; else loading">
        <div class="form-radio" *ngFor="let room of rooms">
          <label class="form-radio-label">
            <input
              name="room"
              class="form-radio-input" type="radio"
              value="{{room.id}}"
              [(ngModel)]="tariff.roomId">
            {{room.title.title}}
          </label>
        </div>
      </ng-container>
      <ng-template #loading>
        <div *ngIf="!loaded" class="col-6">
          <app-loading></app-loading>
        </div>
        <div *ngIf="loaded && !rooms" class="empty-rooms-text">
          Добавте, пожалуйста, комнаты
        </div>
      </ng-template>
		</div>

	</div>

	<div class="indent-top">
		<label><b>Тип питания:</b></label>
		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="nutritionType" id="exampleRadios1"
		    value="NO_NUTRITION"
		    [(ngModel)]="nutritionType">
			   Без питания.Объект вообще не предлагает питания
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="nutritionType" id="exampleRadios2" value="CHARGEABLE"
		    [(ngModel)]="nutritionType">
		    Питание не входит в цену номера
		  </label>
		</div>

		<div *ngIf="nutritionType == 'CHARGEABLE'"> <!-- ngIF will be here-->
			<div class="form-inline">
				<div class="col-3">
				  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
				    <input type="checkbox" name="nutritionType" class="custom-control-input"
				     [(ngModel)]="breackfastInc">
				    <span class="custom-control-indicator"></span>
				    <span class="custom-control-description">Завтрак</span>
				  </label>
				</div>

			  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			    <input type="number" name="nutritionPrice" class="form-control"
			    [(ngModel)]="breackfast.price">
			    <div class="input-group-addon">UAH</div>
			  </div>
			</div>

			<div class="form-inline">
				<div class="col-3">
				  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
				    <input type="checkbox" name="nutritionType" class="custom-control-input"
				    [(ngModel)]="halfBoardInc">
				    <span class="custom-control-indicator"></span>
				    <span class="custom-control-description">Полупансион</span>
				  </label>
				</div>

			  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			    <input type="text" name="nutritionPrice" class="form-control"
			    [(ngModel)]="halfBoard.price">
			    <div class="input-group-addon">UAH</div>
				</div>
			</div>

			<div class="form-inline">
				<div class="col-3">
				  <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
				    <input type="checkbox" name="nutr" class="custom-control-input"
				    [(ngModel)]="fullBoardInc">
				    <span class="custom-control-indicator"></span>
				    <span class="custom-control-description">Полный пансмион</span>
				  </label>
				</div>

			  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			    <input type="text" name="nutr" class="form-control"
			    [(ngModel)]="fullBoard.price">
			    <div class="input-group-addon">UAH</div>
				</div>
			</div>
		</div>

		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="nutritionType"
		    value="BREAKFAST_INCLUDED"
		    [(ngModel)]="nutritionType">
				 Завтрак включен
		  </label>
		</div>

				<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="nutritionType"
		    value="FULL_BOARD_INCLUDED"
		    [(ngModel)]="nutritionType">
		    Полный пансион включен
		  </label>
		</div>

				<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="nutritionType"
		    value="HALF_BOARD_INCLUDED"
		    [(ngModel)]="nutritionType">
		    Полупансион включен
		  </label>
		</div>

	</div>

	<div class="indent-top" *ngIf="tariff.roomId">
		<label><b>Цена номера</b></label>

		<div class="form-inline" *ngIf="1 <= getGuestById(tariff.roomId)">
		  <div class="form-group">
		    <label class="sr-only">Цена за 1 человека</label>
		    <p class="form-control-static">Цена за 1 человека</p>
		  </div>
		  <div class="input-group mx-sm-3">
		    <label class="sr-only">Цена за 1 человека  </label>
		    <input type="number" class="form-control" name="singleOccupancyPrice" id="singleOccupancyPrice"
		    [(ngModel)]="tariff.singleOccupancyPrice" >
		    <div class="input-group-addon">UAH</div>
		  </div>
		</div>

		<div class="form-inline" *ngIf="2 <= getGuestById(tariff.roomId)">
		  <div class="form-group">
		    <label class="sr-only">Цена за 2-x человека</label>
		    <p class="form-control-static">Цена за 2-x человека</p>
		  </div>
		  <div class="input-group mx-sm-3">
		    <label for="doubleOccupancyPrice" class="sr-only">Цена за 2-x человека</label>
		    <input type="number" class="form-control" id="doubleOccupancyPrice" name="doubleOccupancyPrice"
		    [(ngModel)]="tariff.doubleOccupancyPrice" >
		    <div class="input-group-addon">UAH</div>
		  </div>
		</div>

		<div class="form-inline" *ngIf="3 <= getGuestById(tariff.roomId)">
		  <div class="form-group">
		    <label class="sr-only">Цена за 3-x человека</label>
		    <p class="form-control-static">Цена за 3-x человека</p>
		  </div>
		  <div class="input-group mx-sm-3">
		    <label for="tripleOccupancyPricePercent" class="sr-only">Цена за 3-x человека</label>
		    <input type="number" class="form-control" id="tripleOccupancyPricePercent"
		    name="tripleOccupancyPricePercent"
		    [(ngModel)]="tariff.tripleOccupancyPricePercent" >
		    <div class="input-group-addon">%</div>
		  </div>
		</div>

		<div class="form-inline" *ngIf="4 <= getGuestById(tariff.roomId)">
		  <div class="form-group">
		    <label class="sr-only">Цена за 4-x человека</label>
		    <p class="form-control-static">Цена за 4-x человека</p>
		  </div>
		  <div class="input-group mx-sm-3">
		    <label for="fourOccupancyPricePercent" class="sr-only">Цена за 4-x человека</label>
		    <input type="number" class="form-control" id="fourOccupancyPricePercent" name="fourOccupancyPricePercent"
		    [(ngModel)]="tariff.fourOccupancyPricePercent">
		    <div class="input-group-addon">%</div>
		  </div>
		</div>

		<div class="form-inline" *ngIf="5 <= getGuestById(tariff.roomId)">
		  <div class="form-group">
		    <label class="sr-only">Цена за 4-x человека</label>
		    <p class="form-control-static">Цена за 4-x человека</p>
		  </div>
		  <div class="input-group mx-sm-3">
		    <label for="fiveOccupancyPricePercent" class="sr-only">Цена за 4-x человека</label>
		    <input type="number" class="form-control" id="fiveOccupancyPricePercent"  name="fiveOccupancyPricePercent"
		    [(ngModel)]="tariff.fiveOccupancyPricePercent">
		    <div class="input-group-addon">%</div>
		  </div>
		</div>

	</div>

	<div class="fixed-bottom-right-block">
		<button  type="submit" [disabled]="saveAvailable()" class="btn btn-warning">Сохранить</button>
	</div>

</form>
<app-notification [option]="notificate"></app-notification>
