/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
/*@import "~nouislider/distribute/nouislider.min.css";*/
body {
  font-size: 14px;
  margin-bottom: 60px;
  cursor: default;
}
.content{
  padding-top: 25px;
}

nav a {
  margin-left: 5px;
}
.alert-form {
  color: #a94442;
  font-size: 12px;
}
.close:focus {
  outline: none;
}
.btn {
  cursor: pointer;
}
.btn-bronirovka {
  background-color: #004A7F;
  border-color: #00135F;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
.btn-bronirovka:hover, .btn-bronirovka:focus, .btn-bronirovka:active {
  background-color: #00135F;
  border-color: #004A7F;
}
.btn-bronirovka:active, .btn-bronirovka:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
}
.bs-datepicker-container {
  padding: 0;
}
.bs-datepicker-container .weekend{
  color: #b73535;
}
.bs-datepicker-container .weekend.is-other-month {
  color: rgba(0, 0, 0, 0.25);
}
.bs-datepicker-multiple + .bs-datepicker-multiple {
  margin-left: 0;
}
.fixed-bottom-right-block {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 1030;
}

.indent-top {
  margin-top: 20px;
}
div .form-inline{
  margin-top: 10px;
}
.facility-hr {
  margin-top: 0;
}
.facility-title {
  color: #00135f;
}
.form-check {
  margin-bottom: 5px;
}
.form-check-input:only-child {
  position: absolute;
  top: -2px;
  cursor: pointer;
}
.form-check-label {
  line-height: 1;
  font-size: 12px;
  position: relative;
}
.input-group-addon:focus {
  outline: none;
}
.label-text {
  align-self: center;
  text-align: right;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 500;
}
nouislider .noUi-horizontal {
  height: 5px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}
nouislider .noUi-base {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
nouislider .noUi-connect {
  position: absolute;
  background: #337AB7;
  height: 3px;
}
nouislider .noUi-origin {
  position: absolute;
  width: 100%;
}
nouislider .noUi-handle {
  cursor: pointer;
  position: absolute;
  top: -9px;
  left: -9px;
  height: 20px;
  width: 20px;
  background: 1px #E5E5E5;
  border: 1px solid #666;
  border-radius: 50%;
}
nouislider .noUi-tooltip {
  position: absolute;
  left: -22px;
  width: 60px;
  top: -25px;
  text-align: center;
}
nouislider .noUi-handle:focus {
  outline: none;
  background: #666;
}
nouislider.base .noUi-handle {
  background-color: #F9B815;
  border-color: #CF802E;
}
nouislider.base .noUi-handle:focus {
  background-color: #CF802E;
}
nouislider.min-stay .noUi-handle {
  background-color: #56B047;
  border-color: #417839;
}
nouislider.min-stay .noUi-handle:focus {
  background-color: #417839;
}
nouislider.last-minute .noUi-handle {
  background-color: #EA651B;
  border-color: #CD4016;
}
nouislider.last-minute .noUi-handle:focus {
  background-color: #CD4016;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -8px;
  left: auto;
}
tabset.specialoffertab .nav-link {
  color: white !important;
  background-color: #CD4016 !important;
  border: 5px solid #EA651B !important;
  border-radius: 10px;
  opacity: 0.5;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
tabset.specialoffertab .nav-link.active {
  opacity: 1;
}
tabset.specialoffertab .nav-tabs {
  border: none;
  margin-bottom: 15px;
}
.dataTables_wrapper .dataTables_processing {
  top: 0 !important;
  display: flex;
  padding-top: 50px !important;
  height: calc(100% - 25px) !important;
  margin-top: 25px !important;
  font-weight: bold;
  color: #004A7F !important;
}
.no-data-available {
  text-align: center;
}
.dataTables_empty {
  display: none;
}
.dataTables_length {
  font-weight: 500;
}
.dataTables_length select {
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
table.dataTable {
  border-color: #999 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  opacity: 0.5;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.25em 0.5em !important;
}
.input-group-addon {
  cursor: pointer;
}
.empty-image {
  opacity: 0.3;
}
.empty-text {
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  margin-top: 20px;
}

.modal-window {
  max-width: 350px;
}
.modal-window .btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.modal-window .btn:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.modal-not-visit .modal-content{
  background: #db976b;
}
.modal-not-visit .btn {
  color: white;
  background: #db7538;
}
.modal-invalid-card .modal-content{
  background: #ffbb39;
}
.modal-invalid-card .btn {
  color: white;
  background: #efa618;
}
.modal-cancel .modal-content{
  background: #d9836f;
}
.modal-cancel .btn {
  color: white;
  background: #d9534f;
}
.modal-viewed .modal-content{
  background: #81c784;
}
.modal-viewed .btn {
  color: white;
  background: #519764;
}
@media (min-width: 768px) {
  .modal-window-edit {
    max-width: 750px;
  }
  .first-forgot-modal {
    width: 350px;
  }
  .second-forgot-modal {
    width: 400px;
  }
}
.first-forgot-modal .modal-content, .second-forgot-modal .modal-content {
  padding-left: 10px;
  padding-right: 10px;
}
.photo-tabset .nav {
  flex-wrap: wrap;
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  width: 100%;
}
.photo-tabset .nav-link {
  box-shadow: 1px 1px 5px #aaa;
  border-radius: 4px;
  margin-bottom: 9px;
  margin-right: 10px;
}
.photo-tabset .nav-link:hover {
  box-shadow: none;
  background: #e5e5e5;
}
.photo-tabset .nav-link.active {
  background: #004A7F;
  border-color: #004A7F;
  color: white;
}
.pagination-gallery {
  justify-content: center;
}
.pagination-gallery .page-item .page-link {
  color: black;
  border: none;
  margin-right: 1px;
  margin-left: 1px;
  border-radius: 4px;
  padding: 5px 8px;
}
.pagination-gallery .page-item .page-link:hover {
  background-color: #e5e5e5;
}
.pagination-gallery .page-item.active .page-link {
  background-color: #337ab7;
  color: white;
}
.pagination-gallery .page-item.disabled .page-link {
  opacity: 0.3;
}
.input:-webkit-autofill {
  background-color: #cbe3ff !important;
}
.bs-datepicker-body table td span.disabled, .bs-datepicker-body table td.disabled span {
  text-decoration: line-through;
}
