.form-check-input {
  display: none;
}
.facility-mark {
  padding: 4px 7px 5px;
  border-radius: 5px;
  border: 1px solid #96b6d2;
  display: inline-block;
}
.facility-mark:hover {
  background-color: #ddd;
}
.facility-mark.checked {
  color: white;
  background-color: #004A7F;
  border-color: #004A7F;
}
.facility-mark.checked:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}
.input-bed {
  max-width: 40px;
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  line-height: 1;
  padding: 0;
  text-align: center;
  align-self: center;
}
.form-check-label.bed {
  width: calc(100% - 50px);
}
.beds__title {
  line-height: 1;
  padding-bottom: 10px;
  font-size: 13px;
}
.beds__block {
  max-width: 230px;
}
.beds__head {
  background: #337ab7;
  font-size: 13px;
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: middle;
  border-bottom: 2px solid #e9ecef;
  padding: 0.75rem;
}
.beds__body {
  border: 1px solid #e9ecef;
  border-left: none;
  padding: 6px;
  padding-bottom: 8px;
  border-bottom-width: 3px;
  border-bottom-color: #ccc;
}
.beds__block .title {
  font-size: 13px;
  color: #07c;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  line-height: 1;
  margin-bottom: 10px;
}
.beds__block .title:hover {
  color: #FFBB39;
}
.beds__block .area {
  font-size: 12px;
  color: #1b7625;
  display: block;
}
.beds__block .area .squaere {
  font-size: 8px;
  position: relative;
  bottom: 3px;
}
.beds__block .extended {
  line-height: 1;
  color: #07c;
  cursor: pointer;
  font-size: 12px;
}
.beds__beds {
  margin-top: 10px;
}
.beds__beds .choice, .beds__beds .other {
  padding: 5px 10px;
  line-height: 1;
  font-size: 12px;
}
.beds__beds .choice {
  background: #f2f4f8;
  padding-top: 7px;
  padding-bottom: 10px;
}
.choice-title {
  font-size: 13px;
  font-weight: bold;
}
.choice input {
  align-self: center;
  margin-right: 5px;
}
.bed_ {
  margin-right: 7px;
  max-height: 20px;
  max-width: 20px;
}
