<h3 *ngIf="!editMod">Добавить новый номер</h3>
<h3 *ngIf="editMod">Редактировать номер</h3>
<hr>
<form>
<div class="main-option row">
	<div class=" col-8 form-group row">
	  <label for="roomCategory" class="label-text col-5">Тип номера</label>
	  <select class="form-control col-7" name="roomCategory"
	  [(ngModel)]="room.categoryId"
	  (ngModelChange)="onSelectRoomCategory($event)">
	  	<option id="roomCategory" *ngFor="let rc of roomCategories" [value]="rc.id">
	  		{{rc.title}}
	  	</option>
		</select>
	</div>

	<div class=" col-8 form-group row"  *ngIf="roomTitles">
	  <label for="roomTitle" class="label-text col-5">Название номера</label>
	  <select class="form-control col-7" name="roomTitle" [(ngModel)]="room.titleId">
	  	<option id="roomTitle" *ngFor="let rt of roomTitles" [value]="rt.id">
	  		{{rt.title}}
	  	</option>
		</select>
	</div>

	<!--<div class="col-8 form-group row" >-->
	  <!--<label for="roomAlias" class="label-text col-5">Уникальное название</label>-->
	  <!--<input type="text" id="roomAlias" (ngModelChange)="aliasUniq = true" (blur)="checkAliasName()" [(ngModel)]="room.aliase" class="form-control col-7"  name="alias">-->
    <!--<div *ngIf="!aliasUniq" class="alert-form col-7 offset-5 pl-0">Данное имя уже используется</div>-->
	<!--</div>-->

	<div class="col-6 form-group row" >
	  <label class="label-text col-7" for="maxGuest">Максимальное количество гостей</label>
	  <input id="maxGuest" [(ngModel)]="room.guest" class="form-control col-3" type="number" name="maxGuest" #maxGuest="ngModel" required>
    <div *ngIf="maxGuest.invalid && maxGuest.touched" class="alert-form offset-7">
      <div *ngIf="maxGuest.errors.required">
        Введите количество гостей
      </div>
    </div>
	</div>

	<div class="col-6 form-group row" >
	  <label class="label-text col-7" for="maxChildren">Максимальное количество детей</label>
	  <input id="maxChildren" [(ngModel)]="room.children" class="form-control col-3" type="number" name="maxChildren" #maxChildren="ngModel" required>
    <div *ngIf="maxChildren.invalid && maxChildren.touched" class="alert-form offset-7">
      <div *ngIf="maxChildren.errors.required">
        Введите количество детей
      </div>
    </div>
	</div>

	<div class="col-6 form-group row" >
	  <label class="label-text col-7" for="roomCount">Количество номеров</label>
	  <input id="roomCount"  [(ngModel)]="room.count" class="form-control col-3" type="number" name="roomCount" #roomCount="ngModel" required>
    <div *ngIf="roomCount.invalid && roomCount.touched" class="alert-form offset-7">
      <div *ngIf="roomCount.errors.required">
        Введите количество номеров
      </div>
    </div>
	</div>

	<div class="col-6 form-group row" >
	  <label class="label-text col-7" for="roomMinArea">Минимальная площадь номера</label>
	  <input id="roomMinArea" [(ngModel)]="room.area" class="form-control col-3" type="number" name="roomMinArea" #roomMinArea="ngModel" required>
    <div *ngIf="roomMinArea.invalid && roomMinArea.touched" class="alert-form offset-7">
      <div *ngIf="roomMinArea.errors.required">
        Введите минимальную площадь
      </div>
    </div>
	</div>
</div>
	<!--<h5>Свойства</h5>-->
  <div class="form-group">
    <h5 class="facility-title">Кровати в номере</h5>
    <hr class="facility-hr">
    <div *ngIf="beds" class="row">
        <ng-container *ngFor="let bed of beds; index as i">
          <div class="col-4 d-flex form-check">
            <label class="form-check-label bed">
              <input class="form-check-input" type="checkbox" name="bed[]"
                     (change)="onbedChange($event, bed.id)"
                     [checked]="initCheckboxBed(bed.id)"
              >
              <span class="facility-mark" [ngClass]="{'checked' : initCheckboxBed(bed.id)}">{{bed.title}}</span>
            </label>
            <input *ngIf="initCheckboxBed(bed.id) && !bed.isTransformed" class="input-bed" type="number" name="bed-count[]" [value]="countBeds(bed.id)" (change)="onBedCountChange($event, bed.id)">
          </div>
        </ng-container>
    </div>
    <div class="row">
      <div class="col-12 pl-4 ml-2 beds">
        <div class="beds__title">Посмотрите, что у вас получилось а потом сохраняйте.<br>Вот что увидят ваши гости:</div>
        <div class="beds__block">
          <div class="beds__head">Тип номера</div>
          <div *ngIf="room && beds" class="beds__body">
            <div *ngIf="roomTitles && room.titleId" class="title">{{getRoomName(room.titleId)}}</div>
            <div *ngIf="room.area > 0" class="area">Площадь: {{room.area}}м<span class="squaere">2</span></div>
            <div *ngIf="room.facilities.length > 0" class="extended">Посмотреть что еще есть в этом номере <i class="fa fa-long-arrow-right"></i></div>
            <div *ngIf="room.beds.length > 0" class="beds__beds">
              <div class="choice" *ngIf="findTransform()">
                <div class="choice-title">Выберите тип кровати</div>
                <div class="d-flex pt-1"><input type="radio" name="radio-beds">1 большая двуспальная кровать <img class="bed_" src="../../../assets/images/beds/bed-2.svg"></div>
                <div class="d-flex pt-1"><input type="radio" name="radio-beds">2 односпальные кровати <img class="bed_ mr-0" src="../../../assets/images/beds/bed-1.svg"><img class="bed_" src="../../../assets/images/beds/bed-1.svg"></div>
              </div>
              <div class="other"><span *ngFor="let be of room.beds; index as b"><ng-container *ngIf="be.typeId !== 9"><span *ngIf="b > 0">и</span> {{be.count}} {{beds[getBedIndex(be.typeId)].title}} <img class="bed_" [src]="'../../../assets/images/beds/' + bedImage(beds[getBedIndex(be.typeId)].code)"> </ng-container></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<ng-container *ngIf="roomFacilities; else loading">
	<div class="form-group">
		<h5 class="facility-title">Удобства в номере</h5>
    <hr class="facility-hr">
		<div class="row">
		<ng-container *ngFor="let rf of roomFacilities" >
			<div class="col-4 form-check" *ngIf="rf.type == 'AMENITIES'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" name="facilities[]"
			    (change)="onFacilityChange($event, rf.id)"
			    [checked]="initCheckbox(rf.id)"
			    >
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(rf.id)}">{{rf.title}}</span>
			  </label>
			</div>
		</ng-container>
		</div>
	</div>
  <div class="form-group">
    <h5 class="facility-title">Кухня</h5>
    <hr class="facility-hr">
    <div class="row">
      <ng-container *ngFor="let rf of roomFacilities" >
        <div class="col-4 form-check" *ngIf="rf.type == 'KITCHEN'">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value=""
                   name="facilities[]"
                   (change)="onFacilityChange($event, rf.id)"
                   [checked]="initCheckbox(rf.id)">
            <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(rf.id)}">{{rf.title}}</span>
          </label>
        </div>
      </ng-container>
    </div>
  </div>
	<div class="form-group">
		<h5 class="facility-title">Ванная комната</h5>
    <hr class="facility-hr">
		<div class="row">
		<ng-container *ngFor="let rf of roomFacilities" >
			<div class="col-4 form-check" *ngIf="rf.type == 'BATHROOM'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
                 name="facilities[]"
                 (change)="onFacilityChange($event, rf.id)"
                 [checked]="initCheckbox(rf.id)">
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(rf.id)}">{{rf.title}}</span>
			  </label>
			</div>
		</ng-container>
		</div>
	</div>

	<div class="form-group">
		<h5 class="facility-title">Медиа и технологии</h5>
    <hr class="facility-hr">
		<div class="row">
		<ng-container *ngFor="let rf of roomFacilities" >
			<div class="col-4 form-check" *ngIf="rf.type == 'MEDIA'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, rf.id)"
                 [checked]="initCheckbox(rf.id)">
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(rf.id)}">{{rf.title}}</span>
			  </label>
			</div>
		</ng-container>
		</div>
	</div>

	<div class="form-group">
		<h5 class="facility-title">Услуги и дополнения</h5>
    <hr class="facility-hr">
		<div class="row">
		<ng-container *ngFor="let rf of roomFacilities" >
			<div class="col-4 form-check" *ngIf="rf.type == 'SERVICE'">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" value=""
			    name="facilities[]"
			    (change)="onFacilityChange($event, rf.id)"
                 [checked]="initCheckbox(rf.id)">
          <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(rf.id)}">{{rf.title}}</span>
			  </label>
			</div>
		</ng-container>
		</div>
	</div>

	<div class="form-group">
		<h5 class="facility-title">Внешняя территория/вид</h5>
    <hr class="facility-hr">
		<div class="row">
			<ng-container *ngFor="let rf of roomFacilities" >
				<div class="col-4 form-check" *ngIf="rf.type == 'FOREIGN_TERRITORY'">
				  <label class="form-check-label">
				    <input class="form-check-input" type="checkbox" value=""
				    name="facilities[]"
			    	(change)="onFacilityChange($event, rf.id)"
                   [checked]="initCheckbox(rf.id)">
            <span class="facility-mark" [ngClass]="{'checked' : initCheckbox(rf.id)}">{{rf.title}}</span>
				  </label>
				</div>
			</ng-container>
		</div>
	</div>
</ng-container>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
	<div class="fixed-bottom-right-block">
		<button type="submit" [disabled]="saveAvailable()" (click)="onSubmit()" class="btn btn-warning">Сохранить</button>
	</div>

</form>
<app-notification [option]="notificate"></app-notification>
