<h3>Ваши номера</h3>
<hr>

<div class="row" *ngIf="rooms; else loading">
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-3" *ngFor="let room of rooms">
    <div class="card">
      <div class="card-image">
        <!--<img class="card-img-top w-100" src="https://picsum.photos/200?random" alt="Card image cap">-->
        <img *ngIf="room.photos && room.photos.length > 0; else defaultphoto" class="card-img-top w-100" src="{{imageUrl}}{{hotelId}}/{{room.photos[0].name}}" alt="Card image cap">
        <ng-template #defaultphoto>
          <img class="card-img-top w-100" src="../../../assets/images/hotel-thumb-default.jpg" alt="Card image cap">
        </ng-template>
        <h6 class="card-title">{{room.title.title}}</h6>
      </div>
      <div class="card-block">
        <span class="card-text">Кол-во гостей: {{room.guest}}</span>
        <span class="card-text">Кол-во номеров : {{room.count}}</span>
        <a [routerLink]="['./',room.id]" class="btn btn-warning">Edit</a>
        <button (click)="removeId = room.id; cancelconfirm.show()" class="btn btn-warning">Remove</button>
      </div>
    </div>
	</div>
</div>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <div *ngIf="loaded && emptyRooms" class="col-12 pt-3 text-center">
    <img class="empty-image img-fluid" src="../../../assets/images/nothing_to_show.png">
    <div class="empty-text">Комнат не нашлось. Добавите хотя бы одну?</div>
  </div>
</ng-template>
<div class="modal fade" bsModal #cancelconfirm="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title mb-2">Удаление Комнаты</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelconfirm.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        Вы действительно хотите удалить комнату?
        <div class="text-center mt-2">
          <button class="btn btn-danger p-2" (click)="roomRemove(removeId); cancelconfirm.hide()">Да</button>
        </div>
      </div>
    </div>
  </div>
</div>
