.card {
  transition: all .3s ease;
}
.card:hover {
  box-shadow: 3px 3px 10px #999;
  position: relative;
  transform: translateY(-2px) translateX(-2px);
}
.card-title {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 10px 15px;
  margin-bottom: 0;
  background: #00000080;
}
.card-image {
  position: relative;
  min-height: 150px;
}
.card-text {
  display: block;
}
.card .btn {
  margin-top: 15px;
}
.card-img-top {
  height: 150px;
}
.close {
  position: absolute;
  top: 12px;
  right: 10px;
}
