<div class="booking-content" *ngIf="info" [ngClass]="{'included': !page}">
  <div class="overlay">
  </div>
  <div class="booking">
    <div class="container-fluid">
      <div class="pull-right">
        <button *ngIf="!page" class="btn btn-bronirovka" (click)="close()">Назад</button>
        <button *ngIf="page" class="btn btn-bronirovka" (click)="close2()">Назад</button>
      </div>
      <div id="section-to-print" class="row">
        <div class="page-heading col-12">
          <h1 class="page-title">Имя гостя(гостей):
            <span *ngFor="let rooma of info.rooms; index as j" class="d-inline-block">
              <span *ngIf="j > 0" class="d-inline-block mr-2">,</span><span *ngIf="rooma.guests[0] && rooma.guests[0].name" class="d-inline-block">{{rooma.guests[0].name}}</span>
            </span>
          </h1>
          <h3 class="sub-title">(Имя бронировавшего: <i *ngIf="info.user.gender && info.user.gender === 'M'" class="fa fa-male"></i><i *ngIf="info.user.gender && info.user.gender === 'F'" class="fa fa-female"></i>{{info.user.name}} {{info.user.surname}})</h3>
          <p class="book-total">{{info.rooms.length}} номер(a) &#9679; UAH {{info.fullprice}}</p>
          <p class="order-detalis">
            <span *ngIf="info.user.country">{{info.user.country}}</span>
            <span><i class="fa fa-phone"></i> {{info.user.phone}} <i class="fa fa-envelope"></i><a> {{info.user.email}}</a><i class="fa fa-globe"></i> Английский</span>
            <span><i class="fa fa-clock-o"></i> {{info.date | date: 'dd MMMM yyyy  HH:mm' }} <i>#</i>{{info.id}}<i class="fa fa-print"></i><a id="print" href="#"> Версия на печать</a></span>
          </p>
          <p class="order-detalis">
            <span>{{info.hotel.title}} #{{info.hotel.id}}</span>
            <span *ngIf="info.goal !== ''">Цель поездки - <b *ngIf="info.goal === 'W'">работа</b><b *ngIf="info.goal === 'L'">отдых</b></span>
            <span [ngClass]="{'status-confirm':info.status === 'CONFIRMED', 'status-canceled': info.status === 'CANCELED_BY_HOTEL'}">{{info.status}}</span>
          </p>
        </div>
      </div>
      <div class="status-bar">
        <div *ngIf="info.status === 'CANCELED_BY_HOTEL'" class="status-deny text-center">Аннулировано<br>отелем</div>
        <div *ngIf="info.status === 'CANCELED_BY_USER'" class="status-deny text-center">Аннулировано<br>клиентом</div>
        <div *ngIf="info.status === 'NO_SHOW'" class="status-novisit text-center">Аннулировано<br>по причине незаезда</div>
      </div>
      <div class="row order-confirm">
        <div class="col-md-7">
          <table *ngFor="let room of info.rooms; index as i" class="table table-striped table-bordered table-booking">
            <thead class="table-head">
            <tr>
              <td>Номер {{i + 1}}</td>
              <td>{{room.title.title}}</td>
            </tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td><b>Имя гостя</b></td>
              <td><b *ngIf="room.guests[0]">{{room.guests[0].name}}</b></td>
            </tr>
            <tr class="table-booking-tr">
              <td>Заезд</td>
              <td>{{room.checkIn | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Отъезд</td>
              <td>{{room.checkOut | date: 'dd-MM-yyyy'}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Количество человек</td>
              <td>{{room.guestCount}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Количество ночей</td>
              <td>{{room.days.length}}</td>
            </tr>
            <tr class="table-booking-tr">
              <td>Полная стоимость, подтвержденная гостю</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr>
                    <td>Стоимость номера</td>
                    <td>{{room.fullroomprice}}</td>
                  </tr>
                  <!--<tr>-->
                    <!--<td>городской налог в размере {{info.hotel.payment.tax}}%</td>-->
                    <!--<td>{{room.fullroomprice * info.hotel.payment.tax / 100}}</td>-->
                  <!--</tr>-->
                  <tr *ngIf="room.nutritions[0]">
                    <td>Цена питания</td>
                    <td>{{room?.nutritions[0].price}}</td>
                  </tr>
                  <tr>
                    <td>Итоговая сумма подтвержденная гостю</td>
                    <td class="total">{{room.fullroomprice + room.nutritions[0]?.price}}</td>
                    <!--<td class="total" *ngIf="!info.hotel.payment.isTaxIncluded">{{room.fullroomprice + room.nutritions[0]?.price + room.fullroomprice * info.hotel.payment.tax / 100}}</td>-->
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Разбивка комисси</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr>
                    <td>Сумма облагающаяся комиссией</td>
                    <td>{{room.fullroomprice}}</td>
                  </tr>
                  <tr>
                    <td>Комиссия</td>
                    <td>{{room.fullroomprice * 0.15}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Цена за ночь</td>
              <td class="inner-table">
                <table border="0" class="w-100 table-striped">
                  <tr class="bg-lidht-gray">
                    <th>Дата</th>
                    <th>Цена</th>
                    <th>Тариф</th>
                  </tr>
                  <tr *ngFor="let day of room.days">
                    <td class="nowrap">{{day.date | date: 'dd MMMM yy'}}</td>
                    <td>UAH {{day.price}}</td>
                    <td>{{room.tariff.type}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr *ngIf="room.nutritions[0]" class="table-booking-tr">
              <td>Питание</td>
              <td class="inner-table">
                <table class="w-100 table-striped">
                  <tr class="bg-lidht-gray">
                    <th>Тип</th>
                    <th>Гостей</th>
                    <th>Дни</th>
                    <th>Цена</th>
                  </tr>
                  <tr>
                    <td>{{room.nutritions[0].type}}</td>
                    <td>{{room.nutritions[0].guestCount}}</td>
                    <td>{{room.nutritions[0].days}}</td>
                    <td>{{room.nutritions[0].price}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Порядок отмены бронирования</td>
              <td>
                В случае омены или изменения бронирования в срок свыше 1 суток до даты заезда штраф не взымается.<br>
                Вслучае отмены или изменения бронирования позднее этого срока или в случае незаезда взымается стоимость первой ночи проживания
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Предоплата</td>
              <td>
                <span *ngIf="room.tariff.type === 'STANDART'">Предоплата не взымается</span>
                <span *ngIf="room.tariff.type !== 'STANDART'">Предоплата взымается</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td>Статус</td>
              <td [ngClass]="{'status-room-confirm':room.status === 'CONFIRMED', 'status-room-canceled': room.status === 'CANCELED_BY_HOTEL'}">{{room.status}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <table class="table-booking table table-striped table-bordered">
            <thead class="table-head">
            <tr><td>Сообщение гостя</td></tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td>
                <p *ngIf="info.comment" class="message-area">{{info.comment}}</p>
                <p *ngIf="!info.comment" class="message-area"></p>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="table-booking table table-striped table-bordered">
            <thead class="table-head">
            <tr><td colspan="2">Правила и условия</td></tr>
            </thead>
            <tbody>
            <tr class="table-booking-tr">
              <td class="pointer">Размещение детей и предоставление дополнительных кроватей</td>
              <td><p class="mb-1" *ngFor="let child of info.hotel.policy.children" [ngSwitch]="child.bad">
                Детям с {{child.ageFrom}} до {{child.ageTo}} предоставляется проживание на <span *ngSwitchCase="'AVAILABLE_BEDS'">доступных кроватях</span><span *ngSwitchCase="'EXTRA_BEDS'">дополнительных кроватях</span><span *ngSwitchCase="'CHILDRENS_BEDS'">детских кроватях</span><span *ngIf="child.price > 0"> за {{child.price}}</span><span *ngIf="child.price === 0"> безплатно</span>
              </p></td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">Интернет</td><!-- <span *ngSwitchCase="'FREE'"></span><span *ngSwitchCase="'PAID'"></span><span *ngSwitchCase="'NO'"></span>-->
              <td [ngSwitch]="info.hotel.facility.internet.access">
                <span *ngSwitchCase="'FREE'">
                  Доступен безплатный
                  <span *ngIf="info.hotel.facility.internet.type === 'WI-FI'"> wi-fi </span>
                  <span *ngIf="info.hotel.facility.internet.type === 'CABLE'"> кабельный интернет </span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'ALL_ROOMS'">во всех комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'SOME_ROOMS'">только в некоторых комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'PUBLIC_AREAS'">в общественных местах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'EVERYWHERE'">везде на територии отеля</span>
                </span>
                <span *ngSwitchCase="'PAID'">
                  Платный
                  <span *ngIf="info.hotel.facility.internet.type === 'WI-FI'"> wi-fi </span>
                  <span *ngIf="info.hotel.facility.internet.type === 'CABLE'"> кабельный интернет </span>
                  предоставлятся
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'ALL_ROOMS'">во всех комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'SOME_ROOMS'">только в некоторых комнатах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'PUBLIC_AREAS'">в общественных местах</span>
                  <span *ngIf="info.hotel.facility.internet.accessPoint === 'EVERYWHERE'">везде на територии отеля</span>
                </span>
                <span *ngSwitchCase="'NO'">Интернет отсутствует</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">Услуги по парковке автомобилей</td>
              <td [ngSwitch]="info.hotel.facility.parking.type">
                В отеле <span *ngSwitchCase="'FREE'">безплатная</span><span *ngSwitchCase="'PAID'">платная</span><span *ngSwitchCase="'NO'">отсутствует</span> парковка <span *ngIf="info.hotel.facility.parking.price && info.hotel.facility.parking.price > 0">за {{info.hotel.facility.parking.price}}</span>
              </td>
            </tr>
            <tr class="table-booking-tr">
              <td class="pointer">Размещение домашних животных</td>
              <td [ngSwitch]="info.hotel.policy.animals">
                <span *ngSwitchCase="'FORBIDDEN'">Проживание животных в номере запрещено</span>
                <span *ngSwitchCase="'ALLOWED'">Проживание животных в номере разрешено</span>
                <span *ngSwitchCase="'NEED_CONFIRMATION'">Для проживания животных в номере нужно разрешение администрации</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
