.included .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 2000;
}
.included .booking {
  position: relative;
  top: -90px;
  z-index: 2001;
}
.table-bordered td, .table-bordered th {
  border-color: #ddd;
}
.book-total {
  font-weight: bold;
  color: #00135F;
}
.page-heading {
  text-align: center;
}
.page-heading span {
  text-align: center;
  display: block;
}
.page-heading h1 {
  margin-bottom: 0;
}
.sub-title {
  font-weight: 400;
}
.order-detalis {
  font-size: 12px;
}
.status-confirm {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color: #519764;
}
.status-room-confirm {
  font-weight: 500;
  font-size: 14px;
  color: #519764;
}
.status-canceled {
   display: inline-block;
   font-weight: bold;
   font-size: 16px;
   color: #d9534f;
 }
.status-room-canceled {
  font-weight: 500;
  font-size: 14px;
  color: #d9534f;
}
.order-detalis span i {
  margin-left: 15px;
}
.order-detalis span i:first-child {
  margin-left: 0;
}
.table-head {
  background: #337ab7;
  color: white;
  font-weight: bold;
}
.table-booking td {
  font-size: 12px;
  padding: 5px;
}
.inner-table {
  padding: 0 !important;
}
.inner-table table {
  margin-bottom: 0;
}
.table-booking.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.04);
}
.table-booking-tr > td:first-child {
  border-left-color: #bbb;
}
.table-booking-tr > td:last-child {
  border-right-color: #bbb;
}
.table-booking-tr:last-child > td {
  border-bottom-color: #bbb;
}
.inner-table th {
  background: #bbb;
  color: white;
  padding: 5px;
  font-weight: 500;
}
.inner-table tr:first-child td {
  border-top: none;
}
.inner-table tr:last-child td {
  border-bottom: none;
}
.inner-table tr td:first-child {
  border-left: none;
}
.inner-table tr td:last-child {
  border-right: none;
}
.total {
  font-weight: bold;
}
.status-bar {
  position: absolute;
  left: 15px;
  top: 90px;
}
.status-bar div {
  max-width: 400px;
  border: 4px solid #ddd;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 10px 20px;
}
.status-deny {
  border-color: crimson !important;
  color: crimson;
}
.status-novisit {
  border-color: orange !important;
  color: orange;
}
