.overlay {
  position: absolute;
  z-index: 1000000;
  height: 90px;
  background-color: white;
  width: 100%;
  top: -90px;
  opacity: 0;
}
.search {
  padding: 10px;
  background-color: #ffbb39;
  border-radius: 5px;
  border: 2px solid #efa618;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}
.search-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  border-radius: 0;
  border: 1px solid #efa618;
}
select.search-input {
  height: 35px;
}
.search-input:focus {
  outline: none;
}
.mb-0 {
  font-weight: 500;
}
.booking-table thead {
  background: #337ab7;
  color: white;
}
.booking-table th {
  border-right: 1px solid white;
  border-bottom: 2px solid #004A7F;
  text-align: center;
  line-height: 0.8;
}
.booking-table th:last-child {
  border-right: none;
}
.vertical-booking-table th {
  border-top: 1px solid white;
  border-right: 2px solid #004A7F;
  text-align: center;
  background: #337ab7;
  display: table-cell;
  color: white;
}
.vertical-booking-table tr:first-child th {
  border-top: none;
}
.vertical-booking-table th:last-child {
  border-bottom-color: #004A7F;
}
.booking-table .new-booking {
  height: 100%;
  width: 10px;
  background: #399de0;
  position: absolute;
  top: 0;
  left: 0;
}
.booking-table {
  width: 100% !important;
}
.booking-table td {
  font-size: 12px;
  text-align: center;
}
.booking-table .id {
  color: #337ab7;
  position: relative;
  padding-left: 15px;
  padding-right: 5px;
  border-left: 1px solid #ddd;
}
.booking-table .room-name {
  border-left: 1px solid #eee;
  text-align: left;

}
.booking-table .room-name .name {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.8;
}
.booking-table .room-name .nutrition {
  padding-left: 10px;
}
.booking-table .price {
  font-weight: bold;
  color: #004A7F;
  font-size: 14px;
}
.booking-table .bookingtable-buttons {
  white-space: nowrap;
  text-align: right;
}
.booking-table .confirmed {
  color: #61a784;
}
.booking-table .notconfirmed {
  color: #d9534f;
}
.bookingtable-buttons__button {
  color: white;
  padding: 3px 8px;
  border: none;
  border-radius: 4px;
}
.btn-loadingexel {
  position: absolute;
  right: 15px;
  z-index: 2;
}
.th-add {
  font-size: 10px;
}
.modal-table {
  font-size: 12px;
}
.modal-table .canceled-by-hotel {
  opacity: 0.7;
}
.modal-table th, .modal-table td {
  padding: 5px;
}
.bookingtable-buttons__button:focus {
  outline: none;
  box-shadow: inset 0 0 3px #666;
}
.bookingtable-buttons__button:disabled {
  opacity: 0.3;
}
.bookingtable-buttons__button.deny {
  background: linear-gradient(to bottom, #d9836f 0%, #d9534f 100%);
}
.bookingtable-buttons__button.deny:focus {
  background: linear-gradient(to bottom, #d9534f 0%, #d9836f 100%);
}
.bookingtable-buttons__button.invalidcard {
  background: linear-gradient(to bottom, #ffbb39 0%, #efa618 100%);
}
.bookingtable-buttons__button.invalidcard:focus {
  background: linear-gradient(to bottom, #efa618 0%, #ffbb39 100%);
}
.bookingtable-buttons__button.edit {
  background: linear-gradient(to bottom, #73aaf7 0%, #337ab7 100%);
}
.bookingtable-buttons__button.edit:focus {
  background: linear-gradient(to bottom, #337ab7 0%, #73aaf7 100%);
}
.bookingtable-buttons__button.confirm {
  background: linear-gradient(to bottom, #81c784 0%, #519764 100%);
}
.bookingtable-buttons__button.confirm:focus {
  background: linear-gradient(to bottom, #519764 0%, #81c784 100%);
}
.bookingtable-buttons__button.notvisit {
  background: linear-gradient(to bottom, #db976b 0%, #db7538 100%);
}
.bookingtable-buttons__button.notvisit:focus {
  background: linear-gradient(to bottom, #db7538 0%, #db976b 100%);
}
.confirm-checkbox {
  font-size: 10px;
  line-height: 0.7;
}
.confirm-checkbox label {
  opacity: 0.5;
}
.guest-name {
  white-space: nowrap;
}
.summary {
  font-size: 18px;
  margin-top: 20px;
}
.summary .price {
  font-weight: bold;
  padding-left: 10px;
}
.summary .booked, .summary .commission {
  color: #337ab7;
}
.summary .unvisit {
  color: #efa618;
}
.summary .cancel {
  color: #d9534f;
}
.id span {
  cursor: pointer;
}
.id span:hover {
  color: #2828b7;
}
.date {
  white-space: nowrap;
}
.edit-form-date {
  border: none;
  width: 100%;
  text-align: center;
}
.edit-form-date:focus {
  outline: none;
}
.confirm-table thead td {
  padding: 10px 0 !important;
}
