<!--<div *ngIf="displayBookingInfo">-->
  <!--<booking-table [bookInfo]="currentBookingId" (closeInfo)="closeFullInfo()"></booking-table>-->
<!--</div>-->
<div [hidden]="needConfirmBookings && needConfirmBookings.booking.length > 0" class="container-fluid">
  <div class="row">
    <!--<select class="" (ngModelChange)="onSubmit()" [(ngModel)] = "tableLenght">-->
      <!--<option value="1">1</option>-->
      <!--<option value="2">2</option>-->
    <!--</select>-->
    <form class="col-12" (ngSubmit)="onSubmit()">
      <div class="search row">
        <div class="form-group col-4">
          <label class="mb-0">Ключевые слова</label>
          <input name="keywords" [(ngModel)]="searchForm.keywords" class="search-input">
        </div>
        <div class="form-group col-2">
          <label class="mb-0">Тип поиска</label>
          <select name="s_by" [(ngModel)]="searchForm.s_by" class="search-input">
            <option value="booking">Даты бронирования</option>
            <option value="checkIn">Даты заезда</option>
            <option value="checkOut">Даты отъезда</option>
          </select>
        </div>
        <div class="form-group col-2">
          <label class="mb-0">От</label>
          <input type="text"
                 autocomplete="off"
                 class="form-control search-input"
                 (bsValueChange) = dateChanged($event)
                 [bsConfig]="bsConfig"
                 #dp="bsDatepicker"
                 bsDatepicker
                 name="from"
                 [(ngModel)]="searchForm.from">
        </div>
        <div class="form-group col-2">
          <label class="mb-0">До</label>
          <input type="text"
                 autocomplete="off"
                 [minDate]="minDate"
                 class="form-control search-input"
                 [bsConfig]="bsConfig"
                 #dp="bsDatepicker"
                 bsDatepicker
                 name="to"
                 [(ngModel)]="searchForm.to">
        </div>
        <div class="form-group col-2 d-flex">
          <button class="btn btn-bronirovka align-self-end">Поиск</button>
        </div>
      </div>
    </form>
    <div class="text-right col-12"><button class="btn-success btn-loadingexel" (click)="downloadExel()">Загрузить отчет</button></div>
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover booking-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Врямя бронирования</th>
          <th>Дата заезда</th>
          <th>Дата отъезда</th>
          <th>Бронировщик</th>
          <th>Гости</th>
          <th>Статус</th>
          <th>Цена<br><span class="th-add">бронь</span></th>
          <th>Цена<br><span class="th-add">незаезд</span></th>
          <th>Цена<br><span class="th-add">отмена</span></th>
          <th>Цена<br><span class="th-add">коммисия</span></th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="bookings && bookings?.booking.length > 0">
        <tr *ngFor="let book of bookings.booking; index as i">
          <td class="id">
            <span hidden class="new-booking"></span> <!-- *ngIf="!book.isVeawed" -->
            <span (click)="openFullInfo(book.id)">{{book.id}}</span>
          </td>
          <td>{{book.bookingDate}}</td>
          <td><span class="date"><div *ngFor="let date of book.rooms">{{date.checkIn}}</div></span></td>
          <td><span class="date"><div *ngFor="let date of book.rooms">{{date.checkOut}}</div></span></td>
          <td><span *ngIf="book.user && book.user.name">{{book.user.name}} {{book.user.surname}}</span></td>
          <td>
            <ng-container *ngIf="book.guests">
              <span *ngFor="let guest of book.guests; index as g"><span *ngIf="g > 0">, </span><span class="guest-name">{{guest.name}}</span></span>
            </ng-container>
          </td>
          <td [ngClass]="{'confirmed': book.status === 'CONFIRMED', 'notconfirmed': book.status === 'CANCELED_BY_HOTEL'}">{{book.status}}</td>
          <td *ngIf="book.priceForCommition > 0; else pricenone" class="price">{{book.priceForCommition | number}}</td>
          <td *ngIf="book.priceOfNoShow > 0; else pricenone" class="price">{{book.priceOfNoShow | number}}</td>
          <td *ngIf="book.priceOfCanceld > 0; else pricenone" class="price">{{book.priceOfCanceld | number}}</td>
          <td *ngIf="book.commission > 0; else pricenone" class="price">{{book.commission | number}}</td>
          <ng-template #pricenone>
            <td class="price">-</td>
          </ng-template>
          <td>
            <div class="bookingtable-buttons">
              <button *ngIf="book.status === 'BOOKED'" (click)="bookConfirm(book.id, i)" class="bookingtable-buttons__button confirm" tooltip="подтвердить как просмотренное"><i class="fa fa-check"></i></button>
              <!--<button *ngIf="!book.isVeawed" (click)="openConfirm(confirmWindow, book.id, 'cf')" class="bookingtable-buttons__button confirm" tooltip="подтвердить как просмотренное"><i class="fa fa-check"></i></button>-->
              <button [disabled]="disabledButton('edit', book.rooms, book.status)" (click)="openConfirm(editWindow, book.id, 'edit')" class="bookingtable-buttons__button edit" tooltip="изменить"><i class="fa fa-pencil"></i></button>
              <!--<button (click)="openConfirm(confirmWindow, book.id, 'ic')" class="bookingtable-buttons__button notvisit" tooltip="недействительная карта"><i class="fa fa-credit-card"></i></button>-->
              <button [disabled]="disabledButton('nv', book.rooms, book.status)" (click)="openConfirm(confirmWindow, book.id, 'nv')" class="bookingtable-buttons__button invalidcard" tooltip="незаезд"><i class="fa fa-car"></i></button>
              <button [disabled]="disabledButton('cl', book.rooms, book.status)" (click)="openConfirm(confirmWindow, book.id, 'cl')" class="bookingtable-buttons__button deny" tooltip="аннулировать"><i class="fa fa-close"></i></button>
            </div>
          </td>
        </tr>
        </ng-container>
        </tbody>
      </table>
      <div *ngIf="bookings && bookings?.booking.length > 0" class="summary row">
        <h4 class="text-right w-100 mr-5">На этой странице</h4>
        <table class="col-3 offset-9">
          <tr class="booked">
            <td class="text-right">Бронирования</td>
            <td class="text-left price">{{countPrice()}}</td>
          </tr>
          <tr class="commission">
            <td class="text-right">Комиссия</td>
            <td class="text-left price">{{countComission()}}</td>
          </tr>
          <tr class="unvisit">
            <td class="text-right">Незаезд</td>
            <td class="text-left price">{{countUnvisit()}}</td>
          </tr>
          <tr class="cancel">
            <td class="text-right">Аннулировано</td>
            <td class="text-left price">{{countCancel()}}</td>
          </tr>
        </table>
      </div>
      <ng-template #confirmWindow>
        <div class="modal-body">
          <button class="confirm-close close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
          <span class="confirm-text">{{confirmText}}</span>
          <div class="confirm-buttons mt-3 d-flex justify-content-between">
            <button class="btn" (click)="bookConfirming(confirmIdBook, confirmMod)">Да</button>
          </div>
        </div>
      </ng-template>
      <ng-template #editWindow>
        <div class="modal-body">
          <button type="button" class="close ml-2 pull-right" aria-label="Close" (click)="closeEdit()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
          </button>
          <table class="booking-table modal-table table table-bordered hover row-border">
            <thead>
            <tr>
              <th>Комната</th>
              <th>Гостей</th>
              <th>Статус</th>
              <th>От</th>
              <th>До</th>
              <th *ngIf="bookRoomsInfo.status !== 'CANCELED_BY_HOTEL'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rooms of bookRoomsInfo.rooms; index as j" [ngClass]="{'canceled-by-hotel': rooms.status === 'CANCELED_BY_HOTEL'}">
              <td class="room-name">
                <div class="name">{{rooms.title.title}}</div>
                <div *ngIf="rooms.nutritions[0]" class="nutrition">Питание: {{rooms.nutritions[0].type}}, гости - {{rooms.nutritions[0].guestCount}}, дни - {{rooms.nutritions[0].days}}</div></td>
              <td>{{rooms.guestCount}}</td>
              <td>{{rooms.status}}</td>
              <td>
                <input type="text"
                       [minDate]="minDateEditFrom"
                       class="edit-form-date"
                       [bsConfig]="bsConfig2"
                       (bsValueChange) = "dateChanged1($event, j)"
                       #dp="bsDatepicker"
                       bsDatepicker
                       name="from"
                       [(ngModel)]="rooms.checkIn">
                <!--<span *ngIf="minDateEditFrom >= rooms.checkIn">{{rooms.checkIn | date: 'yyyy-MM-dd'}}</span>--><!--*ngIf="minDateEditFrom < rooms.checkIn"-->
              </td>
              <td>
                <input  type="text"
                       [minDate]="minDateEdit"
                       class="edit-form-date"
                       [bsConfig]="bsConfig2"
                       (bsValueChange) = "dateChanged2(j)"
                       #dp="bsDatepicker"
                       bsDatepicker
                       name="to"
                       [(ngModel)]="rooms.checkOut">
                <!--<span *ngIf="minDateEditFrom >= rooms.checkOut">{{rooms.checkOut | date: 'yyyy-MM-dd'}}</span>--><!--*ngIf="minDateEditFrom < rooms.checkOut"-->
              </td>
              <td *ngIf="bookRoomsInfo.status !== 'CANCELED_BY_HOTEL'">
                <button *ngIf="rooms.status !== 'CANCELED_BY_HOTEL'" (click)="closeRoom(bookRoomsInfo.id, rooms.id)" class="bookingtable-buttons__button deny" tooltip="отменить комнату"><i class="fa fa-close"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-right">
            <button type="submit" (click)="onSubmitEdition()" class="btn btn-warning">Сохранить</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<ng-container *ngIf="needConfirmBookings && needConfirmBookings.booking.length > 0">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="">
      <h3>Неподтвержденные бронирования</h3>
      <hr>
      <p>Дорогой отельер,</p>
      <p>Ниже предоствлен список новых бронирований ваших клиентов. Все бронирования ранее были высланы вам на почту.<br>
        Тем не менее вы еще не подтвердили их просмотр. Чтоб получить дальнейший доступ в екстранет, пожалуйста, пометьте бронирования как просмотренные. Если вы хотите просмотреть детальную информацию о каждом бронировании - кликните на его номер. В дальнейшем вы можете просмотреть его на странице бронирований.</p>
      <p>Спасибо</p>
      <table class="row-border hover table-bordered booking-table confirm-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Дата заезда</th>
          <th>Дата отъезда</th>
          <th>Бронировщик</th>
          <th>Статус</th>
          <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let uconfbook of needConfirmBookings.booking; index as b">
          <td class="id"><span (click)="openFullInfo(uconfbook.id)">{{uconfbook.id}}</span></td>
          <td><span class="date"><div *ngFor="let date of uconfbook.rooms">{{date.checkIn}}</div></span></td>
          <td><span class="date"><div *ngFor="let date of uconfbook.rooms">{{date.checkOut}}</div></span></td>
          <td><span *ngIf="uconfbook.user && uconfbook.user.name">{{uconfbook.user.name}} {{uconfbook.user.surname}}</span></td>
          <td [ngClass]="{'confirmed': uconfbook.status === 'CONFIRMED', 'notconfirmed': uconfbook.status === 'CANCELED_BY_HOTEL'}">{{uconfbook.status}}</td>
          <td class="price">{{uconfbook.priceTotal}}</td>
        </tr>
        </tbody>
      </table>
      <button (click)="confirmUnconfirmed()" class="mt-3 btn btn-warning">Подтвердить как просмотренное</button>
    </div>
  </div>
</ng-container>
<app-notification [option]="notificate"></app-notification>
<!-- needConfirmBookings && needConfirmBookings.booking.length > 0 -->
