<h3>Условия оплаты проживания (кредитки)</h3>
<hr>
<form *ngIf="payment && creditcards; else loading" (ngSubmit)="onSubmit()">
  <div class="form-group row col-8">
    <label class="label-text col-5">Тип оплаты</label>
    <div class="form-check col-7">
      <label class="form-check-label">
        <input name="type" class="form-check-input" type="radio" [value]="false" [(ngModel)]="payment.isCashOnly">
        Вы можете оформить бронирование с помощью кредитной карты
      </label>
      <label class="form-check-label">
        <input name="type" class="form-check-input" type="radio" [value]="true" (ngModelChange)="opPaymentModChange()" [(ngModel)]="payment.isCashOnly">
        Оплата возможна только наличными. Кредитные карты не принимаем
      </label>
    </div>
  </div>
  <div class="form-group row col-8" [ngClass]="{'disabled-cards': payment.isCashOnly}">
    <label class="label-text col-5">Принимаемые платежные карты</label>
    <div *ngIf="cardsLoaded; else loadingcards" class="form-check col-7">
      <label *ngFor="let card of creditcards" class="form-check-label">
        <input class="form-check-input"
               type="checkbox"
               [disabled]="payment.isCashOnly"
               (change)="onPaymentChange($event, card.id)"
               [checked]="initCheckbox(card.id)">
        {{card.title}}
      </label>
      <label class="form-check-label">
        <input class="form-check-input"
               type="checkbox"
               name="card"
               [disabled]="payment.isCashOnly"
               [(ngModel)]="payment.isCardRequired">
        Требовать карту при бронировании
      </label>
      <div class="alert-form" *ngIf="payment.cards.length === 0 && wrongSubmittedForm">Выберите хотя бы одну кредитную карту</div>
    </div>
    <ng-template #loadingcards>
      <div class="col-7">
        <app-loading></app-loading>
      </div>
    </ng-template>
  </div>
  <div class="button-submit">
    <button  type="submit" class="btn btn-warning">Сохранить</button>
  </div>
</form>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <app-loading-error *ngIf="!payment && loaded"></app-loading-error>
</ng-template>
<app-notification [option]="notificate"></app-notification>
