<h3>Общие описания</h3>
<hr>
<p>Мы составляем свои уникальные
  тексты на основе Вашей информации. Помогите нам описать Ваш отель. Напишите
  несколько строк о самом главном. Если в будущем Вам необходимо отредактировать
  текст, отпишите нам в этой же форме.</p>
<form *ngIf="descriptions; else loading" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-group col-12 col-sm-6">
      <label><b>Общее описание описание комнат</b></label>
      <textarea rows="5" class="form-control" (focus)="clearing('rooms')" [(ngModel)] = "descriptions.rooms" name="rooms"></textarea>
    </div>
    <div class="form-group col-12 col-sm-6">
      <label><b>Общее описание описание питания</b></label>
      <textarea rows="5" class="form-control" (focus)="clearing('nutrition')" [(ngModel)] = "descriptions.nutrition" name="nutrition"></textarea>
    </div>
    <div class="form-group col-12 col-sm-6">
      <label><b>Общее описание описание расположения</b></label>
      <textarea rows="5" class="form-control" (focus)="clearing('location')" [(ngModel)] = "descriptions.location" name="location"></textarea>
    </div>
    <div class="form-group col-12 col-sm-6">
      <label><b>Общее описание описание окружения</b></label>
      <textarea rows="5" class="form-control" (focus)="clearing('environment')" [(ngModel)] = "descriptions.environment" name="environment"></textarea>
    </div>
  </div>
  <div class="button-submit text-right mb-3">
    <button type="submit" class="btn btn-warning">Сохранить</button>
  </div>
  <div *ngIf="posted" class="alert alert-success">
    Уважаемый партнер, если Вы хотите внести
    изменения в опубликованное описание Вашего объекта, пожалуйста обратитесь к
    своему аккаунт-менеджеру.
  </div>
</form>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <app-loading-error *ngIf="!descriptions && loaded"></app-loading-error>
</ng-template>
<app-notification [option]="notificate"></app-notification>
