.general-gallery {
  max-height: 260px;
  padding-top: 5px;
  overflow-y: scroll;
}
.room-gallery {
  padding-bottom: 80px;
  position: relative;
}
.nav {
  position: relative;
}
.title-out {
  position: absolute;
  left: -16%;
  font-weight: bold;
  color: #004A7F;
}
.title-out .text {
  margin-top: 5px;
  display: block;
  text-align: right;
}
.title-out .fa {
  margin-left: 10px;
  font-size: 24px;
  position: relative;
  top: 5px;
}
.dragover {
  color: white;
  background-color: #47a5e8 !important;
  border-color: #004A7F;
  box-shadow: none !important;
}
.gallery-photo {
  height: 80px;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}
.gallery-photo img {
  height: 80px;
  width: 100px;
  border-radius: 5px;
}
.gallery-photo.avatar img {
  outline: 4px solid #efa618;
  border-radius: 0;
}
.remove-btn {
  color: #333;
  float: right;
  text-shadow: 0 0 5px #ddd;
  cursor: pointer;
}
.avatar-btn {
  color: #ffbb39;
  float: left;
  text-shadow: 0 0 5px #666;
  cursor: pointer;
}
.check-btn {
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-shadow: 0 0 5px #777;
  cursor: pointer;
  display: none;
}
.check-btn.checked {
  visibility: visible !important;
  display: inline-block;
  text-shadow: 0 0 5px #000;
  font-size: 20px;
}
.card-img-overlay {
  padding: 5px;
}
.card-img-overlay > .control {
  visibility: hidden;
}
.card-img-overlay:hover > .control {
  visibility: visible;
}
.photo-tabset {
  margin-top: 20px;
}
.gallery-show {
  font-weight: 500;
}
.gallery-show select {
  padding: 2px 5px;
  border-radius: 5px;
}
.pagination {
  padding-top: 5px;
  border-top: 1px solid #ddd;
  justify-content: center;
}
