<div class="row general-gallery m-0" draggable="false" *ngIf="photos && photos.length > 0">
  <div class="title-out col-2 pr-0">
    <span class="text">Галерея<i class="text-info fa fa-long-arrow-right "></i></span>
  </div>

	<div class="gallery-photo" *ngFor="let photo of photos; index as i" draggable="true" (dragstart)="drag($event)" id="{{photo.id}}" [attr.data-src]="photo.name" [ngClass]="{'avatar': photo.isAvatar}">
		<img class="img-fluid" src="{{imgURL}}{{hotelId}}/{{photo.name}}">
    <div (click)="photos[i].checked = !photos[i].checked" class="card-img-overlay">
      <div class="card-title control">
        <i *ngIf="!photo.isAvatar" (click)="setAvatar(photo.id); photos[i].checked = !photos[i].checked" class="fa fa-star fa-2 avatar-btn" aria-hidden="true"></i>
        <i (click)="removeFromGallery(photo.id); photos[i].checked = !photos[i].checked" class="fa fa-close fa-2 remove-btn" aria-hidden="true"></i>
        <i [ngClass]="{'checked': photos[i].checked}" class="fa fa-check fa-2 check-btn"></i>
      </div>
    </div>
	</div>
</div>
<div *ngIf="rooms && rooms.length > 0; else loading" class="row photo-tabset mr-0 ml-0">
  <ul class="nav nav-tab">
    <div class="title-out col-2 pl-0">
      <span class="text">Ваши номера<i class="text-warning fa fa-long-arrow-right"></i></span>
    </div>
    <li *ngFor="let oneroom of rooms; index as i" class="nav-link" [ngClass]="{'dragover': dragactive === i, 'active': activeTab === i}" (drop)="drop($event, i)" (dragleave)="dragactive = -1" (dragover)="allowDrop($event, i)" (click)="active_Tab(i)">{{oneroom.title.title}}</li>
  </ul>
  <ng-container *ngFor="let oneroom of rooms; index as j">
    <div class="row col-12 m-0 p-0 room-gallery" *ngIf="activeTab === j && oneroom.photos && oneroom.photos.length > 0" (drop)="drop($event, j)" (dragover)="allowDrop($event)">
      <div class="title-out col-2 pl-0">
        <span class="text">Фото номера<i class="text-success fa fa-long-arrow-right"></i></span>
      </div>
      <div class="gallery-photo" *ngFor="let phot of oneroom.photos; index as i">
        <img class="img-fluid" src="{{imgURL}}{{hotelId}}/{{phot.name}}">
        <div class="card-img-overlay">
          <div class="card-title control">
            <i (click)="removeFromRoomGallery(i, phot.id, oneroom.id)" class="fa fa-close fa-2 remove-btn" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #loading>
  <app-loading *ngIf="!loaded"></app-loading>
  <div *ngIf="loaded && (!rooms || rooms.length === 0)" class="col-12 text-сenter empty-text">Комнат не найдено, создайте хотя бы одну</div>
</ng-template>
