.card-img-overlay {
  padding: 10px;
}
.card-img-overlay > .control {
  visibility: hidden;
}
.card-img-overlay:hover > .control {
  visibility: visible;
}
.remove-btn {
  color: #333;
  float: right;
  font-size: 20px;
  text-shadow: 0 0 5px #ddd;
  cursor: pointer;
}
.inroduction-text {
  margin-bottom: 15px;
}
.inroduction-text p {
  line-height: 1;
  margin-bottom: 10px;
}
.gallery {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
}
.gallery-image {
  max-height: 150px;
  margin-bottom: 5px;
  margin-right: 5px;
  position: relative;
}
.gallery-image img {
  max-height: 150px;
  border-radius: 5px;
}
.preview {
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  font-size: 18px;
}
