<h3>Галерея</h3>
<div>
  <div class="inroduction-text">
    <p>Выберите на Вашей компьютере фото-файлы. Кликните "загрузить" (или открыть). Все загруженные фото вы увидите здесь, ниже. Также их увидят Ваши гости на странице Вашего объекта.<br>
    Кликните на звездочку в верхнем углу фото и это фото станет главным фото Вашего объекта.<br>
    Кликните на один из Ваших номеров. Теперь Вы можете мышкой перетащить фото из Галереи и "кинуть" ее в выбранный номер. Чтобы перетащить сразу несколько фото, кликните эти фото в любом порядке. Зажав левую кнопку мышки, перетащите в нужный номер. Не переживайте, два одинаковых фото в один номер не скопируются.</p>
  </div>
  <h5 *ngIf="filePreviewPath.length && uploader.getNotUploadedItems().length" class="preview"><b>Предварилельный просмотр</b></h5>
  <div class="col-12">
    <div class="row gallery-buttons justify-content-between m-0">
      <input class="mb-3" type="file" ng2FileSelect [uploader]="uploader" multiple  />
    </div>
  </div>
</div>
<app-notification [option]="notificate"></app-notification>
